<main role="main" class="container">
    <div class="starter-template">
        <h1>Password Reset Sent!</h1>
        <p class="lead">We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly. If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
        <p class="lead" id="alert_msg" style="font-weight: 500;">The Reset Password Link will be expire in next 10 minutes.</p>
        <p class="time_class" style="font-weight: 500;" id="ten-countdown"></p>
        <div id="alertMessage" style="margin-top: 10px;">
            <p class="lead" style="font-weight: 500;">Didn’t received the Email yet! <span><a href="{% url 'reset_password' %}" style="text-decoration: none;">Try again!</a></span></p>
        </div>
    </div>
</main>