<html lang="en">
    <head>
        <meta http-equiv=Content-Type content="text/html; charset=UTF-8">
        
        <style type="text/css" nonce="CtytgIG/hj4TtO9FfsnaBA">
        body,td,div,p,a,input {
            font-family: arial, sans-serif;
        }
        </style>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="shortcut icon" href="https://oncl.herokuapp.com/static/oncl_app/OnCl Logo [Background Removed].png" type="image/x-icon">
        <title>Password reset requested for your OnCl Account</title>
        
        <style type="text/css" nonce="CtytgIG/hj4TtO9FfsnaBA">
        body, td {
            font-size:13px
        } 
        a:link, a:active {
            color:#1155CC;
            text-decoration:none
        } 
        a:hover {
            text-decoration:underline; 
            cursor: pointer
        } 
        a:visited{
            color:##6611CC
        } 
        img{
            border:0px
        } 
        pre {
            white-space: pre;
            white-space: -moz-pre-wrap;
            white-space: -o-pre-wrap; 
            white-space: pre-wrap; 
            word-wrap: break-word; 
            max-width: 800px; 
            overflow: auto;
        } 
        .logo { 
            left: -7px; 
            position: relative; 
        }
        </style>
    </head>
    <body>
        <div class="bodycontainer">
            <div class="maincontent">
                <table width=100% cellpadding=0 cellspacing=0 border=0 class="message">
                    <tr>
                        <td align=right>
                            <tr>
                                <td colspan=2 style="padding-bottom: 4px;">
                                    <tr>
                                        <td colspan=2>
                                            <table width=100% cellpadding=12 cellspacing=0 border=0>
                                                <tr>
                                                    <td>
                                                        <div style="overflow: hidden;">
                                                        <font size=-1>
                                                            <u></u>
                                                            <div style="margin:0;padding:0" bgcolor="#FFFFFF">
                                                            <table width="100%" height="100%" style="min-width:348px" border="0" cellspacing="0" cellpadding="0" lang="en">
                                                            <tr height="32" style="height:32px">
                                                                <td></td>
                                                            </tr>
                                                            <tr align="center">
                                                                <td width="32" style="width:32px"></td>
                                                                <td>
                                                                    <table border="0" cellspacing="0" cellpadding="0" style="max-width:600px">
                                                                    <tr>
                                                                        <td>
                                                                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                                <tr>
                                                                                    <td align="left">
                                                                                        <img width="92" height="32" src="https://oncl.herokuapp.com/static/oncl_app/OnCl_Transparent_Background_Logo.png" style="display:block;width:250px;height:25px">
                                                                                    </td>       
                                                                                    <td align="right">
                                                                                        <img width="32" height="32" style="display:block;width:32px;height:32px" src="https://oncl.herokuapp.com/static/oncl_app/Account_alert.png">
                                                                                    </td>                                                                             
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr height="16"></tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table bgcolor="#D94235" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:332px;max-width:600px;border:1px solid #f0f0f0;border-bottom:0;border-top-left-radius:3px;border-top-right-radius:3px">
                                                                                <tr>
                                                                                    <td height="72" style="height:72px" colspan="3"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td width="32" style="width:32px"></td>
                                                                                    <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:24px;color:#ffffff;line-height:1.25;min-width:300px">Password reset requested for your OnCl - Edu. Cloud Account</td>
                                                                                    <td width="32" style="width:32px"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td height="18" style="height:18px" colspan="3"></td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <table bgcolor="#FAFAFA" width="100%" border="0" cellspacing="0" cellpadding="0" style="min-width:332px;max-width:600px;border:1px solid #f0f0f0;border-bottom:1px solid #c0c0c0;border-top:0;border-bottom-left-radius:3px;border-bottom-right-radius:3px">
                                                                                <tr height="16" style="height:16px">
                                                                                    <td width="32" rowspan="3" style="width:32px"></td>
                                                                                    <td></td>
                                                                                    <td width="32" rowspan="3" style="width:32px"></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>
                                                                                        {% load i18n %}{% autoescape off %}
                                                                                        <table style="min-width:300px" border="0" cellspacing="0" cellpadding="0">
                                                                                            <tr>
                                                                                                <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5;padding-bottom:4px">Hello {{ user.get_full_name }},</td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5;padding:4px 0">
                                                                                                    <p>{% blocktranslate %}You're receiving this email because you requested a password reset for your user account at OnCl - Edu. Cloud.{% endblocktranslate %}</p>
                                                                                                    <p>{% translate "Please go to the following page and choose a new password:" %}</p>
                                                                                                    <p>{% block reset_link %}
                                                                                                        {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
                                                                                                        {% endblock %}
                                                                                                    </p>
                                                                                                    <p>
                                                                                                        {% translate 'Your username, in case you’ve forgotten:' %} {{ user.get_username }}
                                                                                                    </p>
                                                                                                    <p>If you didn't request any password reset then ignore this email. And Please raise a complaint in our <a href="#" aria-label="Support Page Link">Support page</a>. We will investigate and let you know what happened!</p>
                                                                                                </td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:13px;color:#202020;line-height:1.5;padding-top:28px">
                                                                                                    <p>{% translate "Yours sincerely," %}<br>{% blocktranslate %}The OnCl - Edu. Cloud team{% endblocktranslate %}</p>
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                        {% endautoescape %}
                                                                                    </td>
                                                                                </tr>
                                                                                <tr height="32" style="height:32px"></tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                    <tr height="16" style="height:16px"></tr>
                                                                    <tr>
                                                                        <td style="max-width:600px;font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#bcbcbc;line-height:1.5">
                                                                            <table>
                                                                                <tr>
                                                                                    <td>
                                                                                        <table style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:10px;color:#666666;line-height:18px;padding-bottom:10px">
                                                                                            <tr>
                                                                                                <td>Please don&#39;t reply to this Email. We can&#39;t receive replies. For more information, visit the 
                                                                                                    <a href="#" style="text-decoration:none;color:#4285f4" 
                                                                                                        target="_blank" 
                                                                                                        data-saferedirecturl="#">
                                                                                                        OnCl - Edu. Cloud Help Centre
                                                                                                    </a>.
                                                                                                </td>
                                                                                            </tr>
                                                                                        </table>
                                                                                    </td>
                                                                                </tr>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                            <td width="32" style="width:32px"></td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </font>
                                        </div>
                                    </table>
                                </table>
                            </div>
                        </div>
                    </body>
                </html>