<form method="POST" action="">
    {% csrf_token %}
    <input class="input100" type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1" placeholder="Password">
    <input class="input100" type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2" placeholder="Confirm Password">
    <button class="login100-form-btn" type="submit" value="Submit" name="Update Password">
        <i class="fas fa-lock"></i>&nbsp;Update
    </button>
</form>