{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}

{% block content %}

<script nonce="{{rAnd0m123}}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>{% block title %}Super Admin Dashboard - AkirA{% endblock %}</title>

<style>
  .main_section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .avatar {
    border: 2px solid #757575;
    border-radius: 50%;
    height: 8rem;
  }
  
  .section_1 {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
  }

  .mySlides {
    display:none;
  }

  .section_2 {
    margin-top: 1rem;
  }

  .card {
    padding: 16px;
    border-radius: .4rem;
    border: 2px solid #0000001f;
    width: fit-content;
    display: flex;
    gap: .5rem;
    flex-direction: row;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes fadeInAnimation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
  }

  .row1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .row2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .container_image {
    width: 100px;
    object-fit: cover;
  }

  .container_image2 {
    width: 200px;
    object-fit: cover;
  }

  .custom_link {
    color: #2196f3;
    cursor: pointer;
  }
</style>

<div class="main_section">

  <section class="section_1">
    <div class="image">
      <img onclick="" src="{% get_static_prefix %}Default User Profile Photo/{{request.user.first_name|capfirst|first}}.png" alt="{{request.user.first_name|capfirst}}" class="avatar">
    </div>
    <div class="user_full_name">
      <h1>Welcome, {{request.user.first_name}} {{request.user.last_name}}</h1>
    </div>
  </section>
  
  <div class="section_2">
    <div class="mySlides">

      <div class="card">
        <div class="row1">
          <p>Your AkirA Account is Secured. You can check your <span class="custom_link" onclick=""> Login Activity. </span> </p>
        </div>
        <div class="row2">
          <img class="container_image" src="{% static 'images/securitycheckup_green.webp' %}" alt="">
        </div>
      </div>

      <div class="card">
        <div class="row1">
          <p>We Found Unusual Login Activity in your AkirA Account. Please check your <span class="custom_link" onclick=""> Login Activity. </span> </p>
        </div>
        <div class="row2">
          <img class="container_image" src="{% static 'images/securitycheckup_yellow.webp' %}" alt="">
        </div>
      </div>
      
    </div>

    <div class="mySlides">
      
      <div class="card">

        <div class="row1">
          <p>You Have New Notifications. Check Out <span class="custom_link" onclick=""> Here! </span> </p>
        </div>

        <div class="row2">
          <img class="container_image2" src="{% static 'images/messages.webp' %}" alt="">
        </div>
      </div>
      
    </div>

    <div class="mySlides">
      
      <div class="card">

        <div class="row1">
          <p>New Sessions have been Uploaded. Check Out <span class="custom_link" onclick=""> Here! </span> </p>
        </div>

        <div class="row2">
          <img class="container_image2" src="{% static 'images/sessions.webp' %}" alt="">
        </div>
      </div>
      
    </div>

    <div class="mySlides">
      
      <div class="card">

        <div class="row1">
          <p>No Tasks are listed. Create <span class="custom_link" onclick=""> a Task. </span> </p>
        </div>

        <div class="row1">
          <p>You have 21 Tasks. Check Out <span class="custom_link" onclick=""> Here! </span> </p>
        </div>

        <div class="row2">
          <img class="container_image2" src="{% static 'images/task.webp' %}" alt="">
        </div>
      </div>
      
    </div>

</div>

<script nonce="{{rAnd0m123}}">
  var slideIndex = 0;
  carousel();
  
  function carousel() {
    var i;
    var x = document.getElementsByClassName("mySlides");
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none"; 
    }
    slideIndex++;
    if (slideIndex > x.length) {slideIndex = 1} 
    x[slideIndex-1].style.display = "block"; 
    setTimeout(carousel, 4000); 
  }
</script>

{% endblock %}