{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}

{% block content %}

{% block analytics-text %}
<h1>Create Course</h1>
<p>An integrated course prepared for academic studies <span class="fas fa-chart-line"></span> </p>
{% endblock %}

{% block create-course %}
<div class="regiserformcontainer">
    <form id="msform" action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset>
            <div class="form-card">
                <div class="field-container">
                    <div class="input-box">
                        <label class="fieldlabels input-label" for="id_course_code">Code</label>
                        <input type="text" name="course_code" id="id_course_code" spellcheck="false" class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" required>
                        <span class="error-text">Enter course code</span>
                    </div>
                    <div class="input-box">
                        <label class="fieldlabels input-label" for="id_course_name">Name</label> 
                        <input type="text" name="course_name" id="id_course_name" class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" required>
                        <span class="error-text">Enter course name</span>
                    </div>
                </div>

                <div class="field-container mb-1rem">
                    <div class="input-box">
                        <label class="fieldlabels input-label" for="id_course_desc">Description</label>
                        <textarea name="course_desc" maxlength="500" id="id_course_desc" class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" required></textarea>
                        <span class="help-text">Maximum characters allowed is 500 only.</span>
                        <span class="error-text">Enter course description</span>
                        <span class="info-text"></span>
                    </div>
                </div>

                <div class="field-container mb-1rem">
                    <div class="input-box active-grey">
                        <label class="fieldlabels input-label" for="id_branch">Branch</label>
                        <select name="branch" class="input-1" id="id_branch" required>
                            {% if branch_list %}
                            <option value="">Select Branch</option>
                            {% endif %}
                            {% for branch in branch_list %}
                            <option value="{{ branch.id }}">{{ branch.name }}</option>
                            {% empty %}
                            <option value="">Data Not Available</option>
                            {% endfor %}
                        </select>
                        <span class="error-text">Select branch</span>
                        <span class="redirect">
                            <a href="#" id="showFormCreateBranch"><i class="fa-solid fa-circle-plus"></i> Create branch</a>
                            <a href="#" id="fetchBranches" data-get-branch-url="{% url 'getAllBranchesAjax' %}">
                                <i class="fa-solid fa-arrows-rotate"></i> refresh
                            </a>
                        </span>
                    </div>
                    <div class="input-box active-grey">
                        <label class="fieldlabels input-label" for="id_semester">Semester</label>
                        <select name="semester" class="input-1" id="id_semester" required>
                            {% if semester_list %}
                            <option value="">Select Semester</option>
                            {% endif %}
                            {% for i in semester_list %}
                            <option value="{{ i.id }}"> {{ i }} </option>
                            {% empty %}
                            <option value="">Data Not Available</option>
                            {% endfor %}
                        </select>
                        <span class="error-text">Select semester</span>
                        <span class="redirect">
                            <a href="#" id="showFormCreateSemester"><i class="fa-solid fa-circle-plus"></i> Create semester</a>
                            <a href="#" id="fetchSemester" data-get-semester-url="{% url 'getAllSemestersAjax' %}">
                                <i class="fa-solid fa-arrows-rotate"></i> refresh
                            </a>
                        </span>
                    </div>
                </div>
                
                <div class="field-container mb-2rem">
                    <div class="input-box active-grey">
                        <label class="fieldlabels input-label" for="id_specialization">Specialization</label>
                        <select name="specialization" class="input-1" id="id_specialization">
                            {% for i in specialization_list %}
                            <option value="{{ i.id }}"> {{ i }} </option>
                            {% empty %}
                            <option value="">Data Not Available</option>
                            {% endfor %}
                        </select>
                        <span class="help-text">Allocating to specialization is optional</span>
                        <span class="error-text">Select specialization</span>
                        <span class="redirect">
                            <a href="#" target="_blank"><i class="fa-solid fa-circle-plus"></i> Create specialization</a>
                            <a href="#" id="fetchSpec">
                                <i class="fa-solid fa-arrows-rotate"></i> refresh
                            </a>
                        </span>
                    </div>
                    <div class="input-box active-grey">
                        <label class="fieldlabels input-label" for="id_course_coordinator">Course Co-Ordinator</label>
                        <select name="course_coordinator" class="input-1" id="id_course_coordinator">
                            <option value="">Select Faculty</option>
                            {% for i in faculty_list %}
                            <option value="{{ i.id }}"> {{ i }} </option>
                            {% empty %}
                            <option value="">Data Not Available</option>
                            {% endfor %}
                        </select>
                        <span class="error-text">Select Course Co-Ordinator</span>
                        <span class="redirect">
                            <a href="#" target="_blank"><i class="fa-solid fa-circle-plus"></i> Add faculty</a>
                            <a href="#" id="fetchFaculty">
                                <i class="fa-solid fa-arrows-rotate"></i> refresh
                            </a>
                        </span>
                    </div>
                </div>
                
                <div class="input-box active-grey-1">
                    <label class="fieldlabels input-label" for="id_course_files">Upload files</label>
                    <input type="file" name="course_files" id="id_course_files" class="input-1 custom-input-file" multiple>
                    <span class="help-text">Uploading files is optional</span>
                </div>
            </div>
            <button id="course-btn" class="action-button course-btn">Create</button>
        </fieldset>
    </form>
</div>

<div id="myModal" class="modal">
  <div class="model-container">
    <div class="modal-content">
      <div class="modal-top-section">
        <h3>Create <span class="underline">Branch</span></h3>
        <span id="close-model" class="close">&times;</span>
      </div>
      <div class="regiserformcontainer">
        <form id="msform" class="branch_form" action="" method="POST">
          {% csrf_token %}
          <fieldset>
            <div class="form-card">
              <div class="field-container">
                <div class="input-box">
                  <label class="fieldlabels input-label" for="id_branch_name">Name</label> 
                  <input type="text" name="name" id="id_branch_name" class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" required>
                  <span class="error-text">Enter branch name</span>
                </div>
              </div>
  
              <div class="field-container mb-1rem">
                <div class="input-box">
                  <label class="fieldlabels input-label" for="id_branch_desc">Description</label>
                  <textarea name="desc" maxlength="500" id="id_branch_desc" class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" required></textarea>
                  <span class="help-text">Maximum characters allowed is 500 only.</span>
                  <span class="error-text">Enter branch description</span>
                  <span class="info-text"></span>
                </div>
              </div>
            </div>
            <button type="button" id="branch-btn" data-create-branch-url="{% url 'createbranchAjax' %}" class="action-button branch-btn">Create</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<div id="myModal2" class="modal">
  <div class="model-container">
    <div class="modal-content">
      <div class="modal-top-section">
        <h3>Create <span class="underline">Semester</span></h3>
        <span id="close-model2" class="close">&times;</span>
      </div>
      <div class="regiserformcontainer">
        <form id="msform" autocomplete="off" action="" method="POST">
          {% csrf_token %}
          <fieldset>
            <div class="form-card"> 
              
              <div class="field-container">
                <div class="input-box active-grey">
                  <label class="fieldlabels input-label" for="id_semester_mode">Semester mode</label>
                  <select name="semester_mode" class="input-1" id="id_semester_mode" required>
                    <option value="">Select mode</option>
                    {% for x,y in semesterModeForm.fields.semesterModeForm.choices %}
                    <option value="{{ x }}">{{ y }}</option>
                    {% empty %}
                    <option value="">Data Not Available</option>
                    {% endfor %}
                  </select>
                  <span class="error-text">Select semester mode</span>
                </div>
              </div>

              <div class="field-container">
                <div class="input-box active-grey">
                    <label class="fieldlabels input-label" for="id_start_year">Start year</label>
                    <input type="date" name="start_year" id="id_start_year" class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" required>
                    <span class="error-text">Select start year</span>
                </div>
                <div class="input-box active-grey">
                    <label class="fieldlabels input-label" for="id_end_year">End year</label>
                    <input type="date" name="end_year" id="id_end_year" class="input-1" onfocus="setFocus(true)" onblur="setFocus(false)" required>
                    <span class="error-text">Select end year</span>
                </div>
              </div>

              <div class="field-container">
                <div class="input-box active-grey">
                    <label class="fieldlabels input-label" for="id_semester_branch">Branch</label>
                    <select name="branch" class="input-1" id="id_semester_branch" required>
                        {% if branch_list %}
                        <option value="">Select Branch</option>
                        {% endif %}
                        {% for branch in branch_list %}
                        <option value="{{ branch.id }}">{{ branch.name }}</option>
                        {% empty %}
                        <option value="">Data Not Available</option>
                        {% endfor %}
                    </select>
                    <span class="error-text">Select branch</span>
                    <span class="redirect">
                        <a href="#" id="fetchBranchesforSemester" data-get-branch-url="{% url 'getAllBranchesAjax' %}">
                            <i class="fa-solid fa-arrows-rotate"></i> refresh
                        </a>
                    </span>
                </div>
                <div class="input-box input-box-toggle">
                    <div>
                        <label style="position: unset;" class="fieldlabels input-label" for="id_semester_is_active">Semester Status</label>
                    </div>
                    <div>
                        <label class="switch">
                            <input type="checkbox" name="semester_is_active" id="id_semester_is_active" checked>
                            <span class="slider round"></span>
                        </label>
                    </div>
                    <span class="error-text">Select semester</span>
                </div>
              </div>

            </div>
            <button type="button" id="semester-btn" data-create-semester-url="{% url 'createsemesterAjax' %}" class="action-button semester-btn">Create</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="{% static 'js/course.js' %}"></script>
{% endblock %}

{% endblock %}