{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}
{% load first_letter_word %}

{% block content %}

{% block analytics-text %}
<h1>Manage Courses</h1>
<p>Display analytics about your Courses <span class="fas fa-chart-line"></span> </p>
{% endblock %}

{% block analytic-overview %}
<section>
  <h3 class="section-head">Overview</h3>
</section>
<div class="analytics">
  <div class="analytic">
      <div class="analytic-icon">
          <span class="fas fa-chalkboard-teacher"></span>
      </div>
      <div class="analytic-info">
          <h4>Most Reg. Course</h4>
          <h1>--</h1>
      </div>
  </div>
  <div class="analytic">
    <div class="analytic-icon">
        <span class="fas fa-user-graduate"></span>
    </div>
    <div class="analytic-info">
        <h4>Least Reg. Course</h4>
        <h1>--</h1>
    </div>
  </div>
  <div class="analytic">
      <div class="analytic-icon">
          <span class="fas fa-book"></span>
      </div>
      <div class="analytic-info">
          <h4>Total Courses</h4>
          <h1>{{ courses|length }} <small class="text-success">1% <i class="fa-solid fa-arrow-trend-up"></i></small></h1>
      </div>
  </div>
  <div class="analytic">
    <div class="analytic-icon">
        <span class="fas fa-swatchbook"></span>
    </div>
    <div class="analytic-info">
        <h4>Specializations</h4>
        <h1>{{ specializations|length }} <small class="text-danger">0% <i class="fa-solid fa-arrow-trend-down"></i></small></h1>
    </div>
  </div>
</div>
{% endblock %}

{% block manage-courses %}

<div class="search-box-container">
  <form action="{% url 'search_course' %}" method="POST" class="form-elements">
    {% csrf_token %}
    <input type="text" name="search" id="search-bar" placeholder="Search course..." autocomplete="off" required>
    <button type="submit" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
</div>

<div class="course-container">
  <ul class="courses">
    <li class="courses_item">
      <div class="course">
        <div class="course_image">
          <span class="fa-solid fa-circle-plus" onclick="document.location='{% url 'create_course' %}'"></span>
          /
          <span class="fa-solid fa-file-csv"></span>
        </div>
        <div class="course_content">
          <h2 class="course_title">Create a Course</h2>
          <p class="course_text">A course is a unit of teaching that typically lasts one academic term</p>
        </div>
      </div>
    </li>
    {% for i in courses %}
    <li class="courses_item">
      <div class="course">
        <div class="course_image">
          <h1 class="course-short_title">{{ i.course_code }} <sub class="custom_sub">{{ i.course_name|first_letter_word }}</sub> </h1>
        </div>
        <div class="course_content">
          <h2 class="course_title">{{ i.course_name }}</h2>
          <p class="course_text">{{ i.course_desc }}</p>
          <div class="course-buttons">
            <button class="readMoreCoursebtn course_btn" onclick="document.location='{% url 'view_course' i.course_code %}'" >Know More</button>
            <!-- <button class="enrollCoursebtn course_btn">Enroll</button> -->
          </div>
        </div>  
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% endblock %}