{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}
{% load humanize %}
{% load first_letter_word %}

{% block content %}

{% block analytics-text %}
<h1>Search Courses...</h1>
{% endblock %}

{% block manage-courses %}

<div class="search-box-container">
  <form action="{% url 'search_course' %}" method="POST" class="form-elements">
    {% csrf_token %}
    <input type="text" name="search" id="search-bar" placeholder="Search course..." value="{{ query }}" autocomplete="off" required>
    <button type="submit" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
</div>

{% if courses %}
<p class="search-result-text">About {{ courses|length|intcomma }} result{{ courses|length|pluralize }} ({{totalTimeTaken}} seconds)</p>
{% endif %}

<div class="course-container">
  <ul class="courses">
    {% for i in courses %}
    <li class="courses_item">
      <div class="course">
        <div class="course_image">
          <h1 class="course-short_title">{{ i.course_code }} <sub class="custom_sub">{{ i.course_name|first_letter_word }}</sub> </h1>
        </div>
        <div class="course_content">
          <h2 class="course_title">{{ i.course_name }}</h2>
          <p class="course_text">{{ i.course_desc }}</p>
          <div class="course-buttons">
            <button class="readMoreCoursebtn course_btn" onclick="document.location='{% url 'view_course' i.course_code %}'" >Know More</button>
            <button class="enrollCoursebtn course_btn">Enroll</button>
          </div>
        </div>  
      </div>
    </li>
    {% empty %}
    <div class="query-search-result">
        <p class="search-result-text">Your search - <b>{{ query }}</b> - did not match any documents.</p>
        <p class="search-result-text">Suggestions:</p>
        <ul class="search-result-text">
          <li class="search-result-text">&nbsp;Make sure that all words are spelled correctly.</li>
          <li class="search-result-text">&nbsp;Try different keywords.</li>
          <li class="search-result-text">&nbsp;Try more general keywords.</li>
        </ul>
    </div>
    {% endfor %}
  </ul>
</div>

{% endblock %}

{% endblock %}