{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}
{% load first_letter_word %}
{% load user_group %}
{% load humanize %}

{% block content %}

{% block analytics-text %}
<h1>Search Courses</h1>
{% endblock %}

{% block manage-courses %}

<form action="{% url 'searchCourses' %}" method="GET">
<div class="search-bar-container" style="margin: 0.5rem auto 1.5rem auto;">
  <div class="searchBar">
      <input id="searchQueryInput" type="search" name="searchquery" placeholder="Search..." maxlength="100" aria-autocomplete="both" aria-haspopup="false" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="" role="combobox" spellcheck="false" title="Search courses" value="{{ searchQuery }}" aria-label="Search courses" />
      <button id="searchQuerySubmit" type="submit" name="">
        <span class="material-icons"> search </span>
      </button>
    </div>
  </div>
</form>

{% if courses %}

<div class="searchStatus">
  About {{ courses|length }} result{{ courses|length|pluralize }} ({{ searchTime }} seconds)
</div>

<div class="course-container">
  <ul class="courses">
    {% for i in courses %}
    <li class="courses_item">
      <div class="course">
        <div class="course_image">
          <h1 class="course-short_title skeleton">{{ i.code }} <sub class="custom_sub">{{ i.name|first_letter_word }}</sub> </h1>
        </div>
        <div class="course_content">
          <h2 class="course_title skeleton">{{ i.name }}</h2>
          <p class="course_text skeleton">{{ i.desc }}</p>
          <div class="course-buttons skeleton">
            <button class="readMoreCoursebtn course_btn" onclick="document.location='{% url 'view_course' i.code %}'" >Know More</button>
          </div>
        </div>  
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
<div class="searchStatus">
  We couldn't find any course related to <b>{{ searchQuery }}</b>
</div>
{% endif %}

<script src="{% static 'js/manage_course.js' %}"></script>

{% endblock %}

{% endblock %}