{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}

{% block content %}
{% load to_and %}
{% load first_letter_word %}

<title>{% block title %}Manage Courses - AkirA{% endblock %}</title>

<div class="main">
  {% if "Administrator" == group_list or "Head of the Department" == group_list %}
  <ul class="cards">
    <li class="cards_item">
      <div class="card create_course_card" onclick="document.location='{% url 'create_courses' %}'">
        <div class="card_image">
          <h1><i class="fa-solid fa-circle-plus"></i></h1>
        </div>
        <div class="card_content">
          <h2 class="create_card_title">Create a Course</h2>
          <p class="card_text">
            A course is a unit of teaching that typically lasts one academic term<br>
          </p>
        </div>
      </div>
    </li>
  </ul>
  {% endif %}

  <ul class="cards">
    {% for i in list_courses %}
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
            <h1 class="short_title">{{ i.course_name|first_letter_word }} <sub class="custom_sub">{{ i.course_code}}</sub> </h1>
        </div>
        <div class="card_content">
          <h2 class="card_title">{{ i.course_name}}</h2>
          <p class="card_text_cc_name">Course Co-Ordinator: {{ i.course_coordinator.last_name }} {{ i.course_coordinator.first_name }}</p>                
          <p class="card_text">
            {{ i.course_desc|slice:"3:-6"|to_and|cut:"<p>"|cut:"</p>"|safe }}
          </p>
          <div class="card_buttons">
            <button class="btn more" onclick="document.location='{% url 'view_course' i.id %}'">Know More</button>
            {% if "Administrator" == group_list or "Head of the Department" == group_list %}
            <button class="btn edit" onclick="document.location='{% url 'edit_course' i.id %}'">Edit Info.</button>
            <button class="btn delete" onclick="document.location='{% url 'delete_courses' i.id %}'">Delete Course</button>
            {% else %}

            <!-- {% if "Staff" == group_list or "Course Co-Ordinator" == group_list or "Head of the Department" == group_list %}
            
              {% if i.id|stringformat:"s" in course_id_list_str %}
                <button class="btn enrolled" disabled>Course Enrolled</button>
              {% else %}
                <button class="btn enroll" onclick="document.location='{% url 'staff_enroll_course' i.id %}'">Enroll Now</button>
              {% endif %}
            
            {% else %}
            <button class="btn enroll" onclick="document.location='{% url 'staff_enroll_course' i.id %}'">Enroll Now</button>
            {% endif %} -->

            <button class="btn course_vacancy" onclick="document.location='#'">25 Left</button>
            {% endif %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}