{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}

{% block content %}
{% load to_and %}
{% load first_letter_word %}

<title>{% block title %}Manage Courses - AkirA{% endblock %}</title>

<div class="main">
  <ul class="cards">
    <li class="cards_item">
      <div class="card create_course_card" onclick="document.location='{% url 'create_courses' %}'">
        <div class="card_image">
          <!-- <img src="https://picsum.photos/500/300/?image=10"> -->
          <h1><i class="fa-solid fa-circle-plus"></i></h1>
        </div>
        <div class="card_content">
          <h2 class="create_card_title">Create a Course</h2>
          <p class="card_text">
              Demo of pixel perfect pure CSS simple responsive card grid layout<br>
          </p>
        </div>
      </div>
    </li>
  </ul>

  <ul class="cards">

    {% for i in list_courses %}
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
            <h1 class="short_title">{{ i.course_name|first_letter_word }}</h1>
        </div>
        <div class="card_content">
          <h2 class="card_title">{{ i.course_name}}</h2>
          <p class="card_text_cc_name">Course Co-Ordinator: {% if i.faculty.gender == 'Male' %} Mr. {% else %} Ms. {% endif %} {{ i.faculty.user.last_name }} {{ i.faculty.user.first_name }}</p>                
          <p class="card_text">
            {{ i.course_desc|slice:"3:-4"|to_and|safe }}
          </p>
          <div class="card_buttons">
            <button class="btn card_btn more" onclick="document.location='{% url 'view_course' i.id %}'">Read More</button>
            <button class="btn card_btn edit">Edit Info.</button>
            <button class="btn card_btn delete">Delete Course</button>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}

  </ul>
</div>

{% endblock %}