{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}

{% block content %}
{% load to_and %}
{% load first_letter_word %}
{% load humanize %}

<title>{% block title %}{{ view_course }} - AkirA{% endblock %}</title>

<div class="course_info">
  <div class="first_container">
    <div class="course_title_and_dept">
      <div class="course_title" data-msg-course_info="#{{ view_course.course_code }} #{{ view_course.course_name|first_letter_word }} | {{ view_course.semester }}">
        <h1>{{ view_course.course_name }}</h1>
      </div>
      <div class="course_offer_dept">
        <h4>Course Offered by <br> {{ view_course.branch }} Department</h4>
      </div>
    </div>
    <div class="course_short_desc">
      <p>{{ view_course.course_short_info }}</p>
    </div>
    <div class="course_cc">
      <div class="cc_img">
        <img class="cc_profile_pic"
        {% if not course_cc_profile_pic.profile_pic %}
        src="{% get_static_prefix %}Default User Profile Photo/{{view_course.course_coordinator.first_name|capfirst|first}}.png"
        {% else %}
        src="{{ course_cc_profile_pic.profile_pic.url }}"
        {% endif %} 
         alt="User Profile Picture"
        >
      </div>
      <div class="cc_name" onclick="document.location='{% url 'view_staff' view_course.course_coordinator.id %}'">
        <p>{{ view_course.course_coordinator.last_name }} {{ view_course.course_coordinator.first_name }}</p>
      </div>
      <div class="remaining_course_instructors">
        {% if staff_course_enrolled_list_set|length > 0 %}
          ,<a href="#id_course_faculty_list" class="remaining_cil_route"> +{{ staff_course_enrolled_list_set|length }} Course Instructor{{ staff_course_enrolled_list_set|length|pluralize }}</a>
        {% endif %}
      </div>
    </div>
    <div class="enroll_btn_option">
      
      {% if "Staff" == group_list or "Course Co-Ordinator" == group_list or "Head of the Department" == group_list %}

          {% comment %}
          <!-- {% if view_course.id|stringformat:"s" in course_id_list_str %}
            <button class="btn course_specialization_button course_enrolled enroll_btn" disabled>Course Enrolled</button>
          {% else %}
            <form action="{% url 'staff_enroll_course' view_course.id %}" method="post" class="enroll_form">
              {% csrf_token %}
              <select name="section" id="id_section" class="select_section">
                {% for i in section_list %}
                <option value="{{ i.id }}">{{ i }}</option>
                {% endfor %}
              </select>
              <button class="btn course_specialization_button enroll-course" type="submit">Enroll Now</button>
            </form>
          {% endif %} -->
          {% endcomment %}

          <form action="{% url 'staff_enroll_course' view_course.id %}" method="post" class="enroll_form">
            {% csrf_token %}
            <select name="section" id="id_section" class="select_section">
              {% for i in section_list %}
              <option value="{{ i.id }}">{{ i }}</option>
              {% endfor %}
            </select>
            <button class="btn course_specialization_button enroll-course" type="submit">Enroll Now</button>
          </form>
      {% else %}

        {% if view_course.id|stringformat:"s" in student_course_id_list_str %}
          <button class="btn course_specialization_button enroll_btn" disabled>Course Enrolled</button>
          {% else %}
            {% if "Student" == group_list %}
            {% if staff_course_enrolled_list_set|length == 0 or None in instructor_enrolled_section_list %}
            <button class="btn course_specialization_button enroll_btn" disabled>Enroll Unavailable</button>
            {% else %}
            <form action="{% url 'student_enroll_course' view_course.id %}" method="post" class="enroll_form">
              {% csrf_token %}
              <select name="section" id="id_section" class="select_section">
                {% for i in instructor_enrolled_section_list %}
                <option value="{{ i.id }}">{{ i }}</option>
                {% endfor %}
              </select>
              <button class="btn course_specialization_button enroll-course" type="submit">Enroll Now</button>
            </form>
            {% endif %}
            {% endif %}
        {% endif %}

      <!-- <form action="{% url 'student_enroll_course' view_course.id %}" method="post" class="enroll_form">
        {% csrf_token %}
        <select name="section" id="id_section" class="select_section">
          {% for i in instructor_enrolled_section_list %}
          <option value="{{ i.id }}">{{ i }}</option>
          {% endfor %}
        </select>
        <button class="btn course_specialization_button enroll-course" type="submit">Enroll Now</button>
      </form> -->
      {% endif %}

      {% if "Administrator" == group_list or "Head of the Department" == group_list %}
      <button class="btn course_specialization_button edit enroll_btn" onclick="document.location='{% url 'edit_course' view_course.id %}'">Edit Info.</button>
      <button class="btn course_specialization_button delete enroll_btn" onclick="document.location='{% url 'delete_courses' view_course.id %}'">Delete Course</button>
      {% endif %}
    </div>
    <div class="enroll_status">
      {% if "Administrator" == group_list or "Head of the Department" == group_list %}
      <h4>{% if staff_course_enrolled_list_set|length == 0 %}{{ staff_course_enrolled_list_set|length|intcomma }} enrolled. {% else %} {{ staff_course_enrolled_list_set|length|intcomma }} already enrolled. {% endif %}| <span class="current_course_vacancy_status">25 Left</span></h4>
      {% else %}
      <h4>{% if student_course_enrolled_list|length == 0 %}{{ student_course_enrolled_list|length|intcomma }} enrolled. {% else %} {{ student_course_enrolled_list|length|intcomma }} already enrolled. {% endif %}| <span class="current_course_vacancy_status">25 Left</span></h4>
      {% endif %}
    </div>
  </div>
  <div class="second_container">
    <div class="course_column1">
      <div class="what_you_will_learn">
        <h3 class="course_sub_heading">&nbsp; WHAT YOU WILL LEARN</h3>
        <ol><h4>{{ view_course.course_wywl }}</h4></ol>
      </div>
      <div class="skills_you_will_gain">
        <h3 class="course_sub_heading">&nbsp; SKILLS YOU WILL GAIN</h3>
        <ol><h4>{{ view_course.course_sywg }}</h4></ol>
      </div>
      <div class="course_about">
        <h3 class="course_description">&nbsp; Course Description</h3>
        <ol><h4>{{ view_course.course_desc|slice:"3:-6"|to_and|safe }}</h4></ol>
      </div>
      {% if "Student" == group_list %}
      {% if student_course_enrolled_section_list|length == 0 %}
      {% else %}
      <div class="course_enroll_section">
        <h3 class="course_description">&nbsp; Your Enrolled Section for this Course</h3>
        <ol>
          <h4>
            {{ student_course_enrolled_section_list_str }}
          </h4>
        </ol>
      </div>
      {% endif %}
      {% else %}
      {% if course_enrolled_section_list|length == 0 %}
      {% else %}
      <div class="course_enroll_section">
        <h3 class="course_description">&nbsp; Your Enrolled Sections for this Course</h3>
        <ol>
          <h4>
            {{ course_enrolled_section_list_str }}
            <!-- {% for i in course_enrolled_section_list %}
            {{ i }}
            {% endfor %} -->
            <!-- {% for i,j in dicts.items %}
            {{i}} {{j}}
            {% endfor %} -->
          </h4>
        </ol>
      </div>
      {% endif %}
      {% endif %}

      {% if staff_course_enrolled_list_set|length == 0 %}
      {% else %}
      <div class="course_faculty_list" id="id_course_faculty_list"> 
        <h3 class="course_instructors">&nbsp; Course Instructors</h3>
        <ol>
          {% for i in staff_course_enrolled_list_set %}
          <div class="course_cc" onclick="document.location='{% url 'view_staff' i.id %}'">
            <div class="cc_img">
              <img class="cc_profile_pic"
              {% if not i.profile_pic %}
              src="{% get_static_prefix %}Default User Profile Photo/{{i.first_name|capfirst|first}}.png" 
              {% else %}
              src="{{ i.profile_pic.url }}"
              {% endif %} 
               alt="User Profile Picture"
              >
            </div>
            <div class="cc_name">
              <p>{{ i.last_name }} {{ i.first_name }}</p>
            </div>
          </div>
          {% endfor %}
        </ol>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}