{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}

{% block content %}

<style>
  section {
    flex-direction: column;
  }
</style>

<div class="box-root flex-flex flex-direction--column" style="flex-grow: 1;">
    <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--15 custom_span">Semester | Division of an Academic Year</span>

            {% if typeform == "create" %}
            <form action='{% url 'save_created_semester' %}' method='post'>
            {% else %}
            <form action='{% url 'save_edit_semester' semester_data.id %}' method='post'>
            {% endif %}

            {% csrf_token %}
              <div class="field padding-bottom--24">
                <label for="Semester Mode" class="custom_label">Semester Mode</label>
                <select name="mode" id="id_mode">
                    {% for x,y in semesterForm.fields.mode.choices %}
                        <option value="{{ x }}" {% if semester_data.mode == x %} selected {% endif %}>{{ y }}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="field padding-bottom--24">
                <label for="Start Year" class="custom_label">Start Year</label>
                <input type="date" name="start_year" id="id_start_year" value="{{ semester_data.start_year|date:'Y-m-d' }}">
              </div>
              <div class="field padding-bottom--24">
                <label for="End Year" class="custom_label">End Year</label>
                <input type="date" name="end_year" id="id_end_year"  value="{{ semester_data.end_year|date:'Y-m-d' }}">
              </div>
              <div class="field field-checkbox padding-bottom--24 flex-flex align-center">
                <label for="checkbox" class="custom_label">
                  <input type="checkbox" name="semester_status" id="id_semester_status" onclick="checkSemesterStatus()" {% if semester_data.is_active == True %} checked {% else %} {% endif %}> <p id="semesterStatus">Semester is Active</p>
                </label>
              </div>
              <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="Submit">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

<link rel="stylesheet" href="{% static 'styles/tables.css' %}">

{% if semester_list %}
<table>
  <thead>
    <tr>
      <th>S No.</th>
      <th>Semester Mode</th>
      <th>Start Year</th>
      <th>End Year</th>
      <th>Semester Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
  {% for i in semester_list %}
    <tr {% if semester_data.id == i.id %} style="background-color: #bdbdbd;" {% endif %}>
      <td>{{ forloop.counter }}</td>
      <td>{{ i.mode }}</td>
      <td>{{ i.start_year }}</td>
      <td>{{ i.end_year }}</td>
      <td>{% if i.is_active == True %} Active {% else %} Inactive {% endif %}</td>
      <td>
      <a class="edit_button" href="{% url 'edit_semester' i.id %}"><i class="fas fa-edit"></i> Edit</a> &nbsp; <br>

      <a class="delete_button" href="{% url 'delete_semester' i.id %}"><i class="fas fa-trash"></i> Delete</a>
      {% comment %}
      {% endcomment %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>No Data Available</p>
<a href="{% url 'create_semester' %}">Create Semester</a>
{% endif %}

{% endblock %}