{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}

{% block content %}

{% if formType == "Create Block" %}
<form action="{% url 'create_block_save' %}" method="post">
{% else %}
<form action="{% url 'edit_block_save' current_block.id %}" method="post">
{% endif %}

    {% csrf_token %}
    <label for="Block Name">Block Name</label>
    <input type="text" name="block_name" id="id_block_name" value="{{ current_block.block_name }}">
    <input type="submit">
</form>

{% endblock %}