{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}

{% block content %}
{% load to_and %}
{% load first_letter_word %}

<title>{% block title %}Manage Specializations - AkirA{% endblock %}</title>

<div class="main">
  {% if "Administrator" == group_list or "Head of the Department" == group_list %}
  <ul class="cards">
    <li class="cards_item">
      <div class="card create_specialization_card" onclick="document.location='{% url 'create_specialization' %}'">
        <div class="card_image">
          <h1><i class="fa-solid fa-circle-plus"></i></h1>
        </div>
        <div class="card_content">
          <h2 class="create_card_title">Create a Specialization</h2>
          <p class="card_text">
            A course is a unit of teaching that typically lasts one academic term<br>
          </p>
        </div>
      </div>
    </li>
  </ul>
  {% endif %}

  <ul class="cards">
    {% for i in specialization_list %}
    <li class="cards_item">
      <div class="card">
        <div class="card_image">
            <h1 class="short_title">{{ i.specialization_name|first_letter_word }}</h1>
        </div>
        <div class="card_content">
          <h2 class="card_title">{{ i.specialization_name}}</h2>
          {% comment %}
          <p class="card_text_cc_name">Course Co-Ordinator: {{ i.specialization_coordinator.last_name }} {{ i.specialization_coordinator.first_name }}</p>
          {% endcomment %}              
          <p class="card_text">
            {{ i.specialization_desc|slice:"3:-6"|to_and|cut:"<p>"|cut:"</p>"|safe }}
          </p>
          <div class="card_buttons">
            <button class="btn more" onclick="document.location='{% url 'view_specialization' i.id %}'">Know More</button>
            {% if "Administrator" == group_list or "Head of the Department" == group_list %}
            <button class="btn edit" onclick="document.location='{% url 'edit_specialization' i.id %}'">Edit Info.</button>
            <button class="btn delete" onclick="document.location='{% url 'delete_specialization' i.id %}'">Delete Spec.</button>
            {% else %}
            <button class="btn course_vacancy" onclick="document.location='#'">{{ i.capacity }} Left</button>
            {% endif %}
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

{% endblock %}