{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}
{% load user_group %}

{% block content %}

{% block analytics-text %}
<h1>Manage Students</h1>
<p>Display analytics about your Students <span class="fas fa-chart-line"></span> </p>
{% endblock %}

{% block analytic-overview %}
<section>
  <h3 class="section-head">Overview</h3>
</section>
<div class="analytics">
  <div class="analytic">
      <div class="analytic-icon">
          <span class="fa-solid fa-users"></span>
      </div>
      <div class="analytic-info">
          <h4>Total Students</h4>
          <h1>{{ students|length }}</h1>
      </div>
  </div>
  <div class="analytic">
    <div class="analytic-icon">
        <span class="fa-solid fa-user"></span>
    </div>
    <div class="analytic-info">
        <h4>Y20 Students</h4>
        <h1>{{ students|length }}</h1>
    </div>
  </div>
  <div class="analytic">
      <div class="analytic-icon">
          <span class="fa-solid fa-user"></span>
      </div>
      <div class="analytic-info">
          <h4>Y19 Students</h4>
          <h1>{{ students|length }}</h1>
      </div>
  </div>
  <div class="analytic">
    <div class="analytic-icon">
        <span class="fas fa-user-graduate"></span>
    </div>
    <div class="analytic-info">
        <h4>Y18 Students</h4>
        <h1>{{ students|length }}</h1>
    </div>
  </div>
</div>
{% endblock %}

{% block manage-students %}
<button onClick='window.location="#"' class="add-faculty">Add Student</button>
<button id="showFormBulkImport" class="add-faculty">Bulk Import</button>


<div id="myModal" class="modal">
  <div class="model-container">
    <div class="modal-content">
      <span id="close-model" class="close">&times;</span>
      <form action="{% url 'bulk_upload_students_save' %}" method="POST" enctype="multipart/form-data">
        <div class="drop-zone">
          <span class="drop-zone__prompt">
            <i class="fa-solid fa-file fileUploadIcon"></i> <br>
            Drop file here or click to upload</span>
          {% csrf_token %}
            <input type="file" name="student_file" class="drop-zone__input" accept=".csv" required>
        </div>
        <input type="submit" class="bulkUploadButton" value="Bulk Upload">
      </form>
    </div>
  </div>
</div>

<script src="{% static 'js/fileDragUpload.js' %}"></script>

{% if students %}
<div class="search-box-container">
  <form method="post" action="{% url 'search_student' %}" class="form-elements">
    {% csrf_token %}
    <input type="text" name="search-student" id="search-bar" placeholder="Search Students..." autocomplete="off" required>
    <button type="submit" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
</div>

<div class="list-all-faculty">
  {% for student in students %}
  <div class="staff-profile-card"
  style="--card-top-color: #14c66fab;"
  >
    <div class="staff-profile-img">
      <img
        {% if not student.profile_pic %}
        src="{% get_static_prefix %}Default User Profile Photo/{{student.user.first_name|capfirst|first}}.png" 
        {% else %}
        src="{{ student.profile_pic.url }}"
        {% endif %}
        alt="Student Profile Pic">
    </div>
    <div class="staff-profile-infos">
      <div class="staff-profile-name">
        <h2>{{ student.name_prefix }} {{ student.user.first_name|title }} {{ student.user.last_name|title }}</h2>
        <h4>@{{ student.user.username }}</h4>
      </div>
      <p class="staff-profile-text">
        I'm a {{ student.user|user_group }} in {{ student.branch }} department.
      </p>
      <ul class="staff-profile-stats">
        <li>
          <h3>2</h3>
          <h4>Research</h4>
        </li>
        <li>
          <h3>4</h3>
          <h4>Projects</h4>
        </li>
      </ul>
      <div class="staff-profile-links">
        <button class="staff-profile-follow">Contact</button>
        <button class="staff-profile-view" onclick="document.location='{% url 'view_student' student.user.username %}'">View profile</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
<h1 style="text-align: center; margin-top: 5rem; color: var(--large-text-color);">Data Not Available</h1>
{% endif %}
<script>
var modal = document.getElementById("myModal");
var btn = document.getElementById("showFormBulkImport");
var span = document.getElementById("close-model");

btn.onclick = function() {
  modal.style.display = "block";
}

span.onclick = function() {
  modal.style.display = "none";
}

window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>
{% endblock %}

{% endblock %}