{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#317EFB"/>
        <meta name="description" content="AkirA is a kind of Learning Mangement System which can be accessible in all your devices Android, iOS, and desktop devices.">

        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
        
        <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet">

        <script src="{% static "js/jquery.min.js" %}"></script>

        <title>{% block title %}AkirA - No. Untill it is WOW!{% endblock %}</title>

        <link rel="apple-touch-icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">
        <link rel="icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">
    </head>
    <body>
        <nav>
            <img src="{% static 'images/Logo_AkirA.png' %}" width="150" height="auto" alt="AkirA Logo">
            {% if request.user.is_authenticated %}
            <button onclick="location.href='{% url 'logout' %}'"><i class="fas fa-sign-out-alt"></i> Logout</button>
            {% else %}
                {% if not request.path == '/' %}
                <button><i class="fas fa-sign-in-alt"></i> Login</button>
                {% endif %}
            {% endif %}
        </nav>
        
        {% block content %}{% endblock %}

        <script src="{% static 'js/ripple_effect.js' %}"></script>
    </body>
</html>