{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#317EFB"/>
        <meta name="description" content="AkirA is a kind of Learning Mangement System which can be accessible in all your devices Android, iOS, and desktop devices.">
        <!-- <meta http-equiv="Content-Security-Policy" content="script-src 'strict-dynamic' 'sha256-vvt4KWwuNr51XfE5m+hzeNEGhiOfZzG97ccfqGsPwvE=' 'nonce-{{rAnd0m123}}' 'unsafe-inline' http: https:; object-src 'none'; base-uri 'none';"> -->

        <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">

        <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet">
        <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet">

        <script nonce="{{rAnd0m123}}" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

        <link rel="apple-touch-icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">
        <link rel="icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">
    </head>
    <body>
        <header class="header">
            <div class="header__container">
                <img src="{% get_static_prefix %}Default User Profile Photo/{{request.user.first_name|capfirst|first}}.png" onclick="document.location='{% url 'my_profile' %}'" alt="{{request.user.first_name}}" class="header__img">
                <a href="#" class="header__logo">
                    <img src="{% static 'images/AkirA_V2.0.png' %}" width="125" height="auto" alt="AkirA Logo">
                </a>
    
                <div class="header__search">
                    <form action="" style="display: contents;">
                        <input type="text" name="search" accesskey="s" placeholder="Search. Use [alt] + s" maxlength="40" class="header__input search_input-field" required>
                        <i class='fas fa-search header__icon' onclick=""></i>
                    </form>
                </div>
    
                <div class="header__toggle">
                    <i class='fas fa-bars' id="header-toggle"></i>
                </div>
            </div>
        </header>

        <div class="nav" id="navbar">
            <nav class="nav__container">
                <div>
                    <a href="#" class="nav__link nav__logo">
                        <i class="fas fa-shield-alt nav__icon"></i>
                        <span class="nav__logo-name"> AkirA</span>
                    </a>

                {% for group_for in request.user.groups.all %}
                    {% if group_for.name == 'Head of the Department' %}
                    <div class="nav__list">
                        <div class="nav__items">

                            <a href="{% url 'hod_dashboard' %}" class="nav__link active">
                                <i class="fas fa-th-large nav__icon"></i>
                                <span class="nav__name" id="show_home">Dashboard</span>
                            </a>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-school nav__icon"></i>
                                    <span class="nav__name">Academic</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="{% url 'manage_block' %}" class="nav__dropdown-item">Block</a>
                                        <a href="{% url 'manage_section_room' %}" class="nav__dropdown-item">Section Rooms</a>
                                        <a href="{% url 'manage_semester' %}" class="nav__dropdown-item">Semester</a>
                                        <a href="{% url 'manage_courses' %}" class="nav__dropdown-item">Courses</a>
                                        <a href="{% url 'manage_specialization' %}" class="nav__dropdown-item">Specialization</a>
                                        <a href="{% url 'manage_courses' %}" class="nav__dropdown-item">Time Table</a>
                                    </div>
                                </div>
                            </div>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-chalkboard-teacher nav__icon"></i>
                                    <span class="nav__name" id="show_staff">Staffs</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="{% url 'manage_staff' %}" class="nav__dropdown-item">Manage</a>
                                        <a href="#" class="nav__dropdown-item">Grievance</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-user-graduate nav__icon"></i>
                                    <span class="nav__name" id="show_student">Students</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Manage</a>
                                        <a href="#" class="nav__dropdown-item">Grievance</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="nav__items">    
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="far fa-bell nav__icon"></i>
                                    <span class="nav__name" id="show_notification">Notifications</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Publish</a>
                                        <a href="#" class="nav__dropdown-item">Program</a>
                                    </div>
                                </div>
                            </div>

                            <a href="#" class="nav__link">
                                <i class="fas fa-list nav__icon"></i>
                                <span class="nav__name" id="show_todo_list">ToDo List</span>
                            </a>
                            <a href="#" class="nav__link" id="dark-mode-toggle">
                                <i class="fas fa-adjust nav__icon"></i>
                                <span class="nav__name" id="theme">Theme</span>
                            </a>
                        </div>
                    </div>
                    {% elif group_for.name == 'Course Co-Ordinator' %}
                    <div class="nav__list">
                        <div class="nav__items">
    
                            <a href="{% url 'cc_dashboard' %}" class="nav__link active">
                                <i class="fas fa-th-large nav__icon"></i>
                                <span class="nav__name" id="show_home">Dashboard</span>
                            </a>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-school nav__icon"></i>
                                    <span class="nav__name" id="show_academy">My Academy</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="{% url 'manage_courses' %}" class="nav__dropdown-item">Courses</a>
                                        <a href="{% url 'manage_specialization' %}" class="nav__dropdown-item">Specialization</a>
                                        <a href="{% url 'manage_staff' %}" class="nav__dropdown-item">Faculty</a>
                                        <a href="{% url 'manage_staff' %}" class="nav__dropdown-item">Students</a>
                                        <a href="#" class="nav__dropdown-item">Time Table</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="nav__items">
                            <a href="#" class="nav__link">
                                <i class="fas fa-list nav__icon"></i>
                                <span class="nav__name" id="show_todo_list">ToDo List</span>
                            </a>
                            <a href="#" class="nav__link" id="dark-mode-toggle">
                                <i class="fas fa-adjust nav__icon"></i>
                                <span class="nav__name" id="theme">Theme</span>
                            </a>
                        </div>
                    </div>
                    {% elif group_for.name == 'Staff' %}
                    <div class="nav__list">
                        <div class="nav__items">

                            <a href="{% url 'staff_dashboard' %}" class="nav__link active">
                                <i class="fas fa-th-large nav__icon"></i>
                                <span class="nav__name" id="show_home">Dashboard</span>
                            </a>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-school nav__icon"></i>
                                    <span class="nav__name" id="show_academy">My Academy</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="{% url 'manage_courses' %}" class="nav__dropdown-item">Courses</a>
                                        <a href="#" class="nav__dropdown-item">Time Table</a>
                                    </div>
                                </div>
                            </div>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-chalkboard-teacher nav__icon"></i>
                                    <span class="nav__name" id="show_staff">Staffs</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="{% url 'manage_staff' %}" class="nav__dropdown-item">Manage</a>
                                        <a href="#" class="nav__dropdown-item">Grievance</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-user-graduate nav__icon"></i>
                                    <span class="nav__name" id="show_student">Students</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="{% url 'manage_staff' %}" class="nav__dropdown-item">Manage</a>
                                        <a href="#" class="nav__dropdown-item">Grievance</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="nav__items">

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-record-vinyl nav__icon"></i>
                                    <span class="nav__name" id="show_session">Sessions</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">View Sessions</a>
                                        <a href="#" class="nav__dropdown-item">Watch Later</a>
                                        <a href="#" class="nav__dropdown-item">Liked Sessions</a>
                                    </div>
                                </div>
                            </div>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-book nav__icon"></i>
                                    <span class="nav__name" id="show_library">Library</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">E - Library</a>
                                        <a href="#" class="nav__dropdown-item">Read Later</a>
                                        <a href="#" class="nav__dropdown-item">Wishlist</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="far fa-bell nav__icon"></i>
                                    <span class="nav__name" id="show_notification">Notifications</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Global</a>
                                        <a href="#" class="nav__dropdown-item">Local</a>
                                    </div>
                                </div>
                            </div>

                            <a href="#" class="nav__link">
                                <i class="fas fa-list nav__icon"></i>
                                <span class="nav__name" id="show_todo_list">ToDo List</span>
                            </a>
                            <a href="#" class="nav__link" id="dark-mode-toggle">
                                <i class="fas fa-adjust nav__icon"></i>
                                <span class="nav__name" id="theme">Theme</span>
                            </a>
                        </div>
                    </div>
                    {% elif group_for.name == 'Counsellor' %}
                    <div class="nav__list">
                        <div class="nav__items">
                            <h3 class="nav__subtitle" id="show_primary">Primary</h3>
    
                            <a href="#" class="nav__link active">
                                <i class="fas fa-th-large nav__icon"></i>
                                <span class="nav__name">Dashboard</span>
                            </a>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-chalkboard-teacher nav__icon"></i>
                                    <span class="nav__name">Staffs</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="{% url 'manage_staff' %}" class="nav__dropdown-item">Manage</a>
                                        <a href="{% url 'add_staff' %}" class="nav__dropdown-item">Add Staff</a>
                                        <a href="#" class="nav__dropdown-item">Grievance</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-user-graduate nav__icon"></i>
                                    <span class="nav__name">Students</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Manage</a>
                                        <a href="#" class="nav__dropdown-item">Search</a>
                                        <a href="#" class="nav__dropdown-item">Grievance</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="nav__items">
                            <h3 class="nav__subtitle" id="show_secondary">Secondary</h3>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="far fa-comment nav__icon"></i>
                                    <span class="nav__name">Messages</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Staffs</a>
                                        <a href="#" class="nav__dropdown-item">Students</a>                                        
                                        <a href="#" class="nav__dropdown-item">Others</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="far fa-bell nav__icon"></i>
                                    <span class="nav__name">Notifications</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Global</a>
                                        <a href="#" class="nav__dropdown-item">Local</a>
                                    </div>
                                </div>
                            </div>

                            <a href="#" class="nav__link">
                                <i class="fas fa-list nav__icon"></i>
                                <span class="nav__name" id="show_todo_list">ToDo List</span>
                            </a>
                            <a href="#" class="nav__link" id="dark-mode-toggle">
                                <i class="fas fa-adjust nav__icon"></i>
                                <span class="nav__name" id="theme">Theme</span>
                            </a>
                        </div>
                    </div>
                    {% elif group_for.name == 'Student' %}
                    <div class="nav__list">
                        <div class="nav__items">

                            <a href="{% url 'student_dashboard' %}" class="nav__link active">
                                <i class="fas fa-th-large nav__icon"></i>
                                <span class="nav__name" id="show_home">Dashboard</span>
                            </a>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-school nav__icon"></i>
                                    <span class="nav__name" id="show_academy">My Academy</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="{% url 'manage_courses' %}" class="nav__dropdown-item">Courses</a>
                                        <a href="{% url 'manage_specialization' %}" class="nav__dropdown-item">Specialization</a>
                                        <a href="#" class="nav__dropdown-item">Time Table</a>
                                        <a href="#" class="nav__dropdown-item">CGPA</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="nav__items">

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-record-vinyl nav__icon"></i>
                                    <span class="nav__name" id="show_session">Sessions</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">View Sessions</a>
                                        <a href="#" class="nav__dropdown-item">Watch Later</a>
                                        <a href="#" class="nav__dropdown-item">Liked Sessions</a>
                                    </div>
                                </div>
                            </div>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-book nav__icon"></i>
                                    <span class="nav__name" id="show_library">Library</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">E - Library</a>
                                        <a href="#" class="nav__dropdown-item">Read Later</a>
                                        <a href="#" class="nav__dropdown-item">Wishlist</a>
                                    </div>
                                </div>
                            </div>
    
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="far fa-bell nav__icon"></i>
                                    <span class="nav__name" id="show_notification">Notifications</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Global</a>
                                        <a href="#" class="nav__dropdown-item">Local</a>
                                    </div>
                                </div>
                            </div>

                            <a href="#" class="nav__link">
                                <i class="fas fa-list nav__icon"></i>
                                <span class="nav__name" id="show_todo_list">ToDo List</span>
                            </a>
                            <a href="#" class="nav__link" id="dark-mode-toggle">
                                <i class="fas fa-adjust nav__icon"></i>
                                <span class="nav__name" id="theme">Theme</span>
                            </a>
                        </div>
                    </div>
                    {% elif group_for.name == 'Administrator' %}
                    <div class="nav__list">
                        <div class="nav__items">
    
                            <a href="{% url 'super_admin_dashboard' %}" class="nav__link active">
                                <i class="fas fa-th-large nav__icon"></i>
                                <span class="nav__name" id="show_home">Dashboard</span>
                            </a>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-school nav__icon"></i>
                                    <span class="nav__name">Academic</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="{% url 'manage_block' %}" class="nav__dropdown-item">Block</a>
                                        <a href="{% url 'manage_section_room' %}" class="nav__dropdown-item">Section Rooms</a>
                                        <a href="{% url 'manage_semester' %}" class="nav__dropdown-item">Semester</a>
                                        <a href="{% url 'manage_courses' %}" class="nav__dropdown-item">Courses</a>
                                        <a href="{% url 'manage_specialization' %}" class="nav__dropdown-item">Specialization</a>
                                        <a href="#" class="nav__dropdown-item">Time Table</a>
                                    </div>
                                </div>
                            </div>

                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-chalkboard-teacher nav__icon"></i>
                                    <span class="nav__name" id="show_staff">Staffs</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="{% url 'manage_staff' %}" class="nav__dropdown-item">Manage</a>
                                        <a href="{% url 'add_staff' %}" class="nav__dropdown-item">Add Staff</a>
                                        <a href="#" class="nav__dropdown-item">Grievance</a>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="fas fa-user-graduate nav__icon"></i>
                                    <span class="nav__name" id="show_student">Students</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="{% url 'manage_staff' %}" class="nav__dropdown-item">Manage</a>
                                        <a href="{% url 'add_student' %}" class="nav__dropdown-item">Add Student</a>
                                        <a href="#" class="nav__dropdown-item">Grievance</a>
                                    </div>
                                </div>
                            </div>
                        </div>
    
                        <div class="nav__items">
                            <div class="nav__dropdown">
                                <a href="#" class="nav__link">
                                    <i class="far fa-bell nav__icon"></i>
                                    <span class="nav__name" id="show_notification">Notifications</span>
                                    <i class='fas fa-caret-down nav__icon nav__dropdown-icon'></i>
                                </a>

                                <div class="nav__dropdown-collapse">
                                    <div class="nav__dropdown-content">
                                        <a href="#" class="nav__dropdown-item">Global</a>
                                        <a href="#" class="nav__dropdown-item">Local</a>
                                    </div>
                                </div>
                            </div>

                            <a href="#" class="nav__link">
                                <i class="fas fa-list nav__icon"></i>
                                <span class="nav__name" id="show_todo_list">ToDo List</span>
                            </a>
                            <a href="#" class="nav__link" id="dark-mode-toggle">
                                <i class="fas fa-adjust nav__icon"></i>
                                <span class="nav__name" id="theme">Theme</span>
                            </a>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
                </div>

                <a href="{% url 'logout' %}" class="nav__link nav__logout">
                    <i class="fas fa-sign-out-alt nav__icon"></i>
                    <span class="nav__name" id="show_logout">Log Out</span>
                </a>
            </nav>
        </div>

        <main>
            <section>
                {% block content %}{% endblock %}
            </section>
        </main>

        <script nonce="{{rAnd0m123}}" src="{% static 'js/dashboard.js' %}"></script>
        <!-- <script nonce="{{rAnd0m123}}">
            var $search = $("#search");
            $(document).on("keydown", function(e) {
            if (!$search.is(":focus"))
                if (e.which != 9 && e.which != 13)
                $search.focus();
            });
        </script> -->
    </body>
</html>