{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta name="theme-color" content="#317EFB"/>
    <meta name="description" content="AkirA is a kind of Learning Mangement System which can be accessible in all your devices Android, iOS, and desktop devices.">

    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet">

    <link rel="apple-touch-icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">
    <link rel="icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">

    <script src="{% static "js/jquery.min.js" %}"></script>
    
    <title>Dashboard</title>
</head>
<body>

    {% include 'messages.html' %}

    <input type="checkbox" name="toggle-checkbox" id="menu-toggle">
    <div class="overlay">
        <label for="menu-toggle"></label>
    </div>

    <div class="sidebar">
        <div class="sidebar-container">
            <div class="brand">
                <div class="first-box-in-brand">
                    <div class="first-coloumn-logo-icon">
                        <span class="fas fa-shield-alt akira"></span>
                    </div>
                    <div class="second-coloumn-title-subtitle">
                        <h2><span class="akira">AkirA</span></h2>
                        <h4><span class="akira">Safe &#183; Secure &#183; Ideal</span></h4>
                    </div>
                </div>
                <div class="second-box-in-brand">
                    <label for="menu-toggle">
                        <span class="far fa-times-circle pointer-cursor"></span>
                    </label>
                </div>
            </div>
            
            <div class="sidebar-avatar">
                <div class="avatar-img">
                    <img src="{% get_static_prefix %}Default User Profile Photo/{{request.user.first_name|capfirst|first}}.png" alt="">
                </div>
                <div class="avatar-info">
                    <div class="avatar-text">
                        <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
                        <small>@{{ request.user }}</small>
                    </div>
                    <span class="fas fa-angle-double-down"></span>
                </div>
            </div>

            <div class="sidebar-menu">
                {% block sidebar-menu %}{% endblock %}
            </div>

            <div class="sidebar-card">
                <div class="sidebar-card-icon">
                    <span class="fab fa-centercode"></span>
                </div>
                <div>
                    <h4>Join Samyak</h4>
                    <p>A National Wide Techno Management Fest Organized by KL University</p>
                </div>
                <button class="btn btn-main btn-block">Register Now</button>
            </div>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="header-title-wrapper">
                <label for="menu-toggle">
                    <span class="fas fa-bars pointer-cursor"></span>
                </label>
                <div class="header-title">
                    {% block analytics-text %}{% endblock %}
                </div>
            </div>
            <div class="header-action">
                <button  class="btn btn-main theme-animation" id="dark-mode-toggle">
                    <span id="theme"></span>
                </button>
            </div>
        </header>

        <main>
            {% block analytic-overview %}{% endblock %}
            {% block manage-account %} {% endblock %}
            <section>
                <div class="block-grid">
                    {% block revenue-card %}{% endblock %}
                    
                    {% block graph %}{% endblock %}
                </div>
            </section>
        </main>
    </div>

    <script src="{% static 'js/dashboard.js' %}"></script>
    {% block chart-js %}{% endblock %}
</body>
</html>