{% load static %}
{% load user_group %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta name="theme-color" content="#317EFB"/>
    <meta name="description" content="AkirA is a kind of Learning Management System which can be accessible in all your devices Android, iOS, and desktop devices.">

    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    {% block custom-video-css %}{% endblock %}
    
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="apple-touch-icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">
    <link rel="icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">

    <script src="{% static "js/jquery.min.js" %}"></script>
    
    <title>Dashboard</title>
</head>
<body>

    {% include 'messages.html' %}

    {% include 'check_internet_connection.html' %}

    <button onclick="topFunction()" id="myTopButton" title="Return to top"><i class="fas fa-arrow-up"></i></button>

    <input type="checkbox" name="toggle-checkbox" id="menu-toggle">
    <div class="overlay">
        <label for="menu-toggle"></label>
    </div>

    <div class="sidebar">
        <div class="sidebar-container">
            <div class="brand">
                <div class="first-box-in-brand">
                    <div class="first-coloumn-logo-icon">
                        <span class="fas fa-shield-alt akira"></span>
                    </div>
                    <div class="second-coloumn-title-subtitle">
                        <h2><span class="akira">AkirA</span></h2>
                        <h4><span class="akira">Safe &#183; Secure &#183; Ideal</span></h4>
                    </div>
                </div>
                <div class="second-box-in-brand">
                    <label for="menu-toggle">
                        <span class="far fa-times-circle pointer-cursor"></span>
                    </label>
                </div>
            </div>
            
            <div class="sidebar-avatar">
                <div class="avatar-img">
                    <img src="{% get_static_prefix %}Default User Profile Photo/{{request.user.first_name|capfirst|first}}.png" alt="">
                </div>
                <div class="avatar-info">
                    <div class="avatar-text">
                        <h4>{{ request.user.first_name }} {{ request.user.last_name }}</h4>
                        <small>@{{ request.user }}</small>
                    </div>
                    <span class="fas fa-angle-double-down"></span>
                </div>
            </div>

            <div class="sidebar-menu">
                <ul>
                    <li>
                        <a href="{% url 'login' %}"
                        {% if "dashboard" in request.path %}
                        class="active"
                        {% endif %}
                        >
                            <span class="fas fa-th-large"></span>
                            <span>Dashboard</span>
                        </a>
                    </li>
                    {% if request.user|user_group == "Administrator" or request.user|user_group == "Head of the Department" %}
                    <li>
                        <a href="{% url 'manage_academic' %}"
                        {% if "manage_academic" in request.path %}
                        class="active"
                        {% endif %}
                        >
                            <span class="fas fa-school"></span>
                            <span>Academic</span>
                        </a>
                    </li>
                    {% endif %}
                    {% if "manage_academic" in request.path or "registration" in request.path %}
                    <li>
                        <a href="{% url 'sem_registration' %}"
                        {% if "registration" in request.path %}
                        class="active"
                        {% endif %}
                        >
                            <span class="fa-solid fa-check-to-slot"></span>
                            <span>Sem. Registration</span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'manage_courses' %}"
                        {% if "course" in request.path %}
                        class="active"
                        {% endif %}
                        >
                            <span class="fas fa-book"></span>
                            <span>Courses</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'manage_specializations' %}"
                        {% if "specialization" in request.path %}
                        class="active"
                        {% endif %}
                        >
                            <span class="fas fa-swatchbook"></span>
                            <span>Specializations</span>
                        </a>
                    </li>
                    {% if "manage_course" in request.path or "resource" in request.path %}
                    <li>
                        <a href="{% url 'manage_resources' %}"
                        {% if "resource" in request.path %}
                        class="active"
                        {% endif %}
                        >
                            <span class="fa-solid fa-box-archive"></span>
                            <span>Resource</span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'manage_staff' %}"
                        {% if "manage_staff" in request.path %}
                        class="active"
                        {% endif %}
                        >
                            <span class="fas fa-chalkboard-teacher"></span>
                            <span>Faculty</span>
                        </a>
                    </li>
                    {% if request.user|user_group != "Student" %}
                    <li>
                        <a href="{% url 'manage_students' %}"
                        {% if "student" in request.path %}
                        class="active"
                        {% endif %}
                        >
                            <span class="fas fa-user-graduate"></span>
                            <span>Students</span>
                        </a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url 'account_settings' %}"
                        {% if "account_settings" in request.path %}
                        class="active"
                        {% endif %}
                        >
                            <span class="fas fa-user-cog"></span>
                            <span>Account</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'validateSwitchDevice' %}"
                        {% if "validateSwitchDevice" in request.path %}
                        class="active"
                        {% endif %}
                        >
                            <span class="fa-solid fa-laptop-code"></span>
                            <span>Switch Device</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">
                            <span class="fas fa-sign-out-alt"></span>
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="sidebar-card">
                <div class="sidebar-card-icon">
                    <span class="fab fa-centercode"></span>
                </div>
                <div>
                    <h4>Join Samyak</h4>
                    <p>A National Wide Techno Management Fest Organized by KL University</p>
                </div>
                <button class="btn btn-main btn-block">Register Now</button>
            </div>
        </div>
    </div>

    <div class="main-content">
        <header>
            <div class="header-title-wrapper">
                <label for="menu-toggle">
                    <span class="fas fa-bars pointer-cursor"></span>
                </label>
                <div class="header-title">
                    {% block analytics-text %}{% endblock %}
                </div>
            </div>
            <div class="header-action">
                <button  class="btn btn-main theme-animation" id="dark-mode-toggle">
                    <span id="theme"></span>
                </button>
            </div>
        </header>

        <main>
            {% block analytic-overview %}{% endblock %}
            {% block academic %} {% endblock %}
            {% block manage-courses %} {% endblock %}
            {% block create-course %} {% endblock %}
            {% block view-course %} {% endblock %}
            {% block manage-specializations %} {% endblock %}
            {% block view-specialization %} {% endblock %}
            {% block search-specializations %} {% endblock %}
            {% block manage-resource %} {% endblock %}
            {% block view-resource %} {% endblock %}
            {% block manage-faculty %} {% endblock %}
            {% block view-faculty %} {% endblock %}
            {% block manage-students %} {% endblock %}
            {% block view-student %} {% endblock %}
            {% block manage-account %} {% endblock %}
            {% block switch-device %} {% endblock %}
            <section>
                <div class="block-grid">
                    {% block revenue-card %}{% endblock %}
                    
                    {% block graph %}{% endblock %}
                </div>
            </section>
        </main>
    </div>

    <script src="{% static 'js/dashboard.js' %}"></script>
    {% block custom_video_editor_js %}{% endblock %}
    <script>
        $(document).ready(function() {
            $('input[name="toggle-checkbox"]').click(function(){
                if($(this).prop("checked") == false){
                    window.location.reload();
                }
            });
        });
    </script>
    {% block chart-js %}{% endblock %}
</body>
</html>