{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}

{% block content %}

{% block analytics-text %}
<h1>Add Staff</h1>
<p>All the people employed by a particular organization.</p>
{% endblock %}

{% block add-staff %}

<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="username" id="id_username" placeholder="username">
    <input type="password" name="password" id="id_password" placeholder="password">
    <input type="email" name="email" id="id_email" placeholder="email">
    <input type="text" name="first_name" id="id_first_name" placeholder="first_name">
    <input type="text" name="last_name" id="id_last_name" placeholder="last_name">
    <input type="text" name="group" id="id_group" placeholder="group">
    <button type="submit">Register</button>
</form>

<script src="{% static 'js/add_staff.js' %}"></script>
{% endblock %}

{% endblock %}