@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --bg: #fbfefd;
  --main-accent: #e9eefd;
  --main-text: #4b5876;
  --shadow: rgba(17, 17, 26, 0.1) 0px 2px 16px;
  --theme-color: #424242;
  --card-color: #FFF;
  --large-text-color: #4b5876;
  --normal-text-color: #666;
  --brand-color: #7c3aed;
  --icons-color: #396aff;
  --color-main: #396aff;
  --anchor-tag-color: #0000ee;
  --border-anchor-backup-codes: #00000045;
  --security-button-color: #e9eefd;
  --graph-p-bg-color: #d1d1d152;
  --graph-p-color: #3d3d3d;
}

.darkmode {
  --bg: #121212;
  --main-accent: #383838;
  --shadow: rgba(17, 17, 26, 0.1) 0px 2px 16px;
  --theme-color: #ffa726;
  --card-color: #383838;
  --large-text-color: #eae9eb;
  --normal-text-color: #b0aeb2;
  --bars-color: #dfdfdf;
  --brand-color: greenyellow;
  --icons-color: #e2e1e2;
  --color-main: #00e1fb;
  --anchor-tag-color: greenyellow;
  --b8-c12: brightness(.8) contrast(1.2);
  --border-anchor-backup-codes: #9e9e9e;
  --security-button-color: #00bcd42e;
  --graph-p-bg-color: #505050;
  --graph-p-color: #f2f2f2;
}

.akira {
  background-image: linear-gradient(to right, #4285F4, #DB4437, #F4B400);
  -webkit-background-clip: text; 
  background-clip: text; 
  color: transparent;
  background-size: 300%;
  background-position: -100%;  
  animation: animatedText 1s infinite alternate-reverse;
}

@keyframes animatedText{
  from {
    background-position: 1%; 
  }
  to{
    background-position: 100%; 
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg);
  overflow-x: hidden;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  list-style-type: none;
  box-sizing: border-box;
}

a {
  color: var(--anchor-tag-color);
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .sidebar {
  left: -345px;
}

#menu-toggle:checked ~ .main-content {
  margin-left: 0;
  width:  100vw;
}

.avatar-img img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  filter: var(--b8-c12);
}

.sidebar {
  width: 345px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 1rem 1.2rem;
  transition: left 300ms;
}

.sidebar-container {
  height: 100%;
  width: 100%;
  background: var(--bg);
  border-radius: 20px;
  box-shadow: var(--shadow);
  padding: 1.2rem;
  overflow-y: auto;
}

.brand {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand .pointer-cursor{
  font-size: 1.8rem;
  color: #616161;
}

.brand .first-box-in-brand {
  display: flex;
}

.brand .first-coloumn-logo-icon {
  color: var(--brand-color);
  font-size: 2.5rem;
  display: inline-block;
  margin-right: .5rem;
}

.brand .second-coloumn-title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.brand .second-coloumn-title-subtitle h2 {
  color: var(--brand-color);
  margin: -4px 0;
  padding: 0;
}

.brand .second-coloumn-title-subtitle h4 {
  color: var(--brand-color);
  font-size: .8rem;
  margin: 0;
  padding: 0;
}

.sidebar-avatar {
  display: grid;
  grid-template-columns: 70px auto;
  align-items: center;
  border: 2px solid var(--main-accent);
  padding: .1rem .7rem;
  border-radius: 7px;
  margin: 2.5rem 0rem;
  gap: .5rem;
}

.avatar-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--normal-text-color);
}

.avatar-text h4 {
  color: var(--large-text-color);
}

.avatar-text small {
  color: var(--normal-text-color);
}

.sidebar-menu li {
  margin-bottom: .2rem;
}

.sidebar-menu a {
  color: var(--normal-text-color);
  display: block;
  padding: .7rem 0rem;
}

.sidebar-menu a.active {
  background: var(--main-accent);
  padding: .7rem;
  border-radius: 7px;
}

.sidebar-menu a span:first-child {
  display: inline-block;
  margin-right: .8rem;
  font-size: 1.5rem;
  color: var(--icons-color);
}

.sidebar-card {
  background: var(--main-accent);
  text-align: center;
  padding: 1rem;
  border-radius: 10px;
  margin-top: 2rem;
  box-shadow: var(--shadow);
}

.sidebar-card-icon span {
  font-size: 8rem;
  color: var(--color-main);
  display: inline-block;
}

.sidebar-card-icon {
  margin-bottom: .8rem;
}

.sidebar-card-icon + div {
  margin-bottom: 1rem;
  color: var(--normal-text-color);
}

.sidebar-card-icon + div p{
  font-size: .8rem;
  color: var(--normal-text-color);
}

.sidebar-container::-webkit-scrollbar {
  width: 6px;
}
  
.sidebar-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}
  
.sidebar-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
  
.sidebar-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.btn {
  padding: .7rem 1rem;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.btn span {
  font-size: 1.2rem;
  display: inline-block;
  /* margin-right: .7rem; */
  margin: 0;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-main {
  background: var(--theme-color);
  color: #FFF;
}

.main-content {
  margin-left: 345px;
  width: calc(100vw - 345px);
  padding: 1rem 1.2rem;
  padding-right: 2rem;
  transition: margin-left 300ms;
}

header {
  display: flex;
  justify-content: space-between;
  padding-top: .5rem;
}

.header-title-wrapper {
  display: flex;
}

.header-title-wrapper label {
  display: inline-block;
  color: var(--color-main);
  margin-right: 2rem;
  font-size: 1.8rem;
}

.header-title h1 {
  color: var(--large-text-color);
  font-weight: 600;
}

.header-title p {
  color: var(--normal-text-color);
  font-size: .9rem;
}

.header-title p span {
  color: red;
  font-size: 1.2rem;
  display: inline-block;
  margin-left: .5rem;
}

.header-action button {
  font-size: 1rem;
  border-radius: 50%;
  cursor: pointer;
}

.pointer-cursor {
  cursor: pointer;
  color: var(--bars-color);
}

main {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.analytics {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5rem;
  margin-bottom: 3rem;
}

.analytic {
  box-shadow: var(--shadow);
  background: var(--card-color);
  padding: 1.5rem;
  border-radius: 10px;
  display: flex;
  padding-left: 2rem;
}

.analytic-info h4 {
  font-weight: 400;
  color: var(--normal-text-color);
  font-size: .98rem;
}

.analytic-info h1 {
  color: var(--large-text-color);
  font-weight: 600;
}

.analytic-info h1 small {
  font-size: .8rem;
  font-weight: 700;
}

.text-danger {
  color: red;
}

.text-success {
  color: #2ec3a3;
}

.text-main {
  color: var(--color-main);
}

.analytic:first-child .analytic-icon {
  background: #4285f433;
  color: #4285F4;
}

.analytic:nth-child(2) .analytic-icon {
  background: #db443733;
  color: #DB4437;
}

.analytic:nth-child(3) .analytic-icon {
  background: #f4b40033;
  color: #F4B400;
}

.analytic:nth-child(4) .analytic-icon {
  background: #0f9d5833;
  color: #0F9D58;
}

.analytic-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-right: .8rem;
}

.section-head {
  font-size: 1.8rem;
  color: var(--large-text-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

.block-grid {
  display: grid;
  grid-template-columns: 30% auto;
  grid-gap: 3rem;
}

.rev-content {
  background: var(--card-color);
  box-shadow: var(--shadow);
  border-radius: 10px;
  padding: 1rem 2rem;
  text-align: center;
}

.rev-content img {
  width: 180px;
  margin: 1.5rem 0rem;
  border-radius: .8rem;
  filter: var(--b8-c12);
}

.rev-info {
  margin-bottom: 1rem;
}

.rev-info h3, .rev-info h1 {
  color: var(--large-text-color);
}

.rev-info h1 {
  font-weight: 600;
  margin-top: .2rem;
}

.rev-info h1 {
  font-weight: 400;
  font-size: 1rem;
  color: var(--normal-text-color);
}

.rev-sum {
  background: var(--main-accent);
  border: 1px solid var(--color-main);
  padding: 1rem;
  border-radius: 10px;
}

.rev-sum h4 {
  color: var(--normal-text-color);
  font-weight: 400;
  margin-bottom: .5rem;
}

.rev-sum h2 {
  font-weight: 600;
  color: var(--large-text-color);
}

.graph-card {
  margin-bottom: 1.5rem;
}

.graph-content {
  border-radius: 12px;
  box-shadow: var(--shadow);
  padding: 1rem;
  background: var(--card-color);
}

.graph-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons-wrapper {
  display: flex;
  align-items: center;
}

.icon {
  height: 40px;
  width: 40px;
  border-radius: 7px;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  margin-right: .8rem;
}

.icon .text-danger {
  background: #db443733;
  padding: .5rem;
  border-radius: 7px;
}

.icon .text-success {
  background: #0f9d5833;
  padding: .5rem;
  border-radius: 7px;
}

.graph-head select {
  background:  #eee;
  border-radius: 4px;
  height: 35px;
  padding: .5rem 1rem;
  border: none;
  outline: none;
}

.graph-select p {
  background:  var(--graph-p-bg-color);
  border-radius: 4px;
  height: 35px;
  padding: .5rem 1rem;
  color: var(--graph-p-color);
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  background: rgba(255, 255, 255, 0.5);
}

.overlay label {
  display: block;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 1224px) {
  .sidebar {
    left: -345px;
    z-index: 30;
  }

  .main-content {
    width: 100vw;
    margin-left: 0;
  }
    
  #menu-toggle:checked ~ .sidebar {
    left: 0;
  }

  #menu-toggle:checked ~ .overlay {
    display: none;
    text-align: right;
  }
}

@media only screen and (max-width: 860px) {
  .analytics {
    grid-template-columns: repeat(2, 1fr);
  }

  .block-grid {
    grid-template-columns: 100%;
  }

  .revenue-card {
    order: 2;
  }
}

@media only screen and (max-width: 580px) {
  .analytics {
    grid-template-columns: 100%;
  }
}

@media only screen and (max-width: 500px) {
  header, .header-title-wrapper  {
    align-items: center;
  }

  .header-title h1 {
    font-size: 1.2rem;
  }

  .header-title p {
    display: none;
  }
}

@media only screen and (max-width: 376px) {
  .header-action button {
    font-size: 1rem;
  }
}

@media only screen and (min-width: 1440px) {
  .brand .pointer-cursor{
    display: none;
  }
}

.darkmode-active::before {
  content: '\f185';
  font-family: 'Font Awesome 6 Free';
}

.lightmode-active::before {
  content: '\f186';
  font-family: 'Font Awesome 6 Free';
}

.theme-animation:active {
  animation: mymove 1s;
}

.theme-animation:active {
  animation: mymove 1s;
}

@keyframes mymove {
  100% {transform: rotate(360deg);}
}

.security {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.security .security-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.security-title h2 {
  font-family: 'Poppins', sans-serif;
  letter-spacing: .125rem;
  color: var(--large-text-color);
  font-size: 2rem;
}

.security-title p {
  padding: 1rem 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: var(--normal-text-color);
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
}

.account-secuirty-status, 
.recent-security-activity, 
.ways-we-can-verify-its-you,
.user-login-details {
  padding: 1.5rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  box-shadow: var(--shadow);
  background: var(--card-color);
}

.account-status-summary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.security-status-text h4, 
.recent-security-activity h4, 
.wwcviy-title-subtitle h4,
.user-login-details h4 {
  font-size: 1.2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: .09rem;
  color: var(--large-text-color);
}

.security-status-text p, .user-login-details p {
  font-size: .875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  padding: .8rem 0;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  letter-spacing: .1rem;
  color: var(--normal-text-color);
  justify-content: center;
}

.security-status-text {
  border-bottom: 2px solid #e0e0e0;
  margin-bottom: 1rem;
}

.security-status-details button, .see-login-details-button button {
  outline: none;
  border: none;
  cursor: pointer;
  padding: .6rem;
  letter-spacing: .01785714em;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;

  border-radius: .4rem;
}

.see-login-details {
  background: #f4b40033;
  color: #F4B400;
}

.see-login-details-clear, .see-details, .setup-2fa {
  background: var(--security-button-color);
  color: var(--color-main);
}

.recent-security-activity p {
  font-size: .875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  padding: .8rem 0;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  letter-spacing: .09rem;
  color: var(--normal-text-color);
}

.wwcviy-title-image {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .wwcviy-image {
    display: none;
  }
}

.wwcviy-title-subtitle p {
  font-size: .875rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
  padding: .8rem 0;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  letter-spacing: .1rem;
  color: var(--normal-text-color);
}

.recovery-phone, .recovery-email, .two-step-verfication {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 38rem;
}

.recovery-phone h4, .recovery-email h4, .two-step-verfication h4 {
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: .09rem;
  color: var(--large-text-color);
}

.recovery-phone p, .recovery-email p {
  color: var(--normal-text-color);
}

hr {
  margin: 1rem 0;
  color: #000;
}

.show-delete-backup-codes {
  display: grid;
}

/* Toggle CSS START */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* Toggle CSS END */

.twofa-status {
  display: flex;
  align-items: center;
  column-gap: .5rem;
}

.twofa-status span {
  font-weight: 500;
}

.learn-2fa-text {
  letter-spacing: .04rem;
}

.twofa-text-status {
  color: var(--normal-text-color);
}

.two-step-verfication {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.get-backup-codes {
  padding: .5rem;
  border: 1px solid var(--border-anchor-backup-codes);
  margin: .4rem 0;
  border-radius: .2rem;
}

.outer-container {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.each-login-details {
  display: flex;
  align-items: center;
  align-content: flex-start;
  flex-wrap: wrap;
  column-gap: 1rem;
  row-gap: 1rem;
}

.device-icon-login-details {
  display: flex;
  column-gap: 1rem;
  align-items: center;
  flex-direction: row;
}

.device-icon span {
  font-size: 3.5rem;
  color: var(--icons-color);
}

.device-platform_ip_addr-location-time {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
}

.platform-name h4 {
  color: var(--large-text-color);
  font-size: .9rem;
  padding: 0 0 .2rem 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  letter-spacing: 0;
  color: var(--large-text-color);
}

.ip_addr p, .location_name p, .time-date p {
  padding: 0;
  margin: 0;
  hyphens: auto;
  word-break: break-word;
  word-wrap: break-word;
  letter-spacing: 0;
}

.login-attempt-action {
  display: flex;
  flex-direction: row;
  row-gap: .5rem;
  column-gap: 0.5rem;
}

.login-attempt-action button {
  display: flex;
  outline: none;
  border: none;
  cursor: pointer;
  padding: .6rem;
  letter-spacing: .01785714em;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1.25rem;
  border-radius: .4rem;
  align-items: center;
  column-gap: .4rem;
}

.true-button {
  background: #4285f433;
  color: #77aaff;
}

.false-button {
  background: #db443733;
  color: #ff5546;
}

.suspicious-button {
  background: #f4b40033;
  color: #F4B400;
}

.confirmed-button {
  background: #0f9d5833;
  color: #12d576;
}

@media only screen and (max-width: 378px) {
  .login-attempt-action {
    display: flex;
    flex-direction: column;
  }
  .each-login-details {
    display: flex;
    align-items: stretch;
    align-content: flex-start;
    column-gap: 1rem;
    row-gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .login-attempt-action button {
    display: flex;
    outline: none;
    border: none;
    cursor: pointer;
    padding: .6rem;
    letter-spacing: .01785714em;
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    border-radius: .4rem;
    align-items: center;
    column-gap: .4rem;
    justify-content: center;
  }
}

@media only screen and (min-width: 725px) {
  .account-secuirty-status {
    grid-area: asec_st1;
  }
  
  .ways-we-can-verify-its-you {
    grid-area: wwcviy3;
  }

  .graph-board {
    grid-area: gb4;
  }
  
  .first-container-grid {
    display: grid;
    grid-template-areas:
    'asec_st1 asec_st1 . . . .'
    'wwcviy3 wwcviy3 wwcviy3 . . .';
    grid-column-gap: 1rem;
  }

  .grid-graph-section {
    display: grid;
    grid-template-areas: 
    'gb4 gb4 gb4 gb4 gb4 gb4'
    'gb4 gb4 gb4 gb4 gb4 gb4';
  }
}