nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 15px;
  position:-webkit-sticky;
  position:sticky;
  top:0;
  z-index:1020;
  background-color: #fff;
  box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 22%);
  -webkit-box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 22%);
  -moz-box-shadow: 0px 2px 11px 0px rgb(0 0 0 / 22%);
}

button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: transparent;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  /* color: rgba(0,0,0,.87); */
  color: #FFF;
  /* background-color: #fff; */
  background-color: #000;
  overflow: hidden;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  /* background-color: rgba(207, 207, 207, 0.7); */
  background-color: rgba(255, 255, 255);
}

@keyframes ripple {
  to {
      transform: scale(4);
      opacity: 0;
  }
}