@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    user-select: none;
}

:root {
    --font-size-ml-wac-heading: 2.5rem;
    --font-size-ml-wac-paragraph: 1.5rem;
}

@media only screen and (max-width: 550px) {
    :root {
        --font-size-ml-wac-heading: 1.8rem;
        --font-size-ml-wac-paragraph: 1.2rem;
    }
}

a {
    text-decoration: none;
    -webkit-transition: all 180ms ease-out;
    -moz-transition: all 180ms ease-out;
    -o-transition: all 180ms ease-out;
    transition: all 180ms ease-out;
}

a:hover {
    text-decoration: underline;
}

a.anchor-samre {
    color: #2196f3;
    font-size: var(--font-size-ml-wac-paragraph);
}

canvas {
    display: none;
}

body {
  background-color: #e1f5fe;
}

.mg-top-1rem {
    margin-top: 1rem;
}

.wac-container {
    max-width: 740px;
    margin: auto;
    margin-top: 6rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wac-heading {
    font-size: var(--font-size-ml-wac-heading);
}

.wac-paragraph {
    font-size: var(--font-size-ml-wac-paragraph);
}

span.underline {
    text-decoration: underline;
}

.wac-inner-container {
  display: inline-block;
  background-color: #FEFEFE;
  border-radius: 8px;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 2px 16px;
}

.showing-time {
    background: #bdbdbd;
    width: fit-content;
    padding: .4rem;
    border-radius: .3rem;
}

.wac-sub-inner-container {
  padding: 24px;
}

.akira {
    font-weight: 600;
    background-image: linear-gradient(to right, #4285F4, #DB4437, #F4B400);
    -webkit-background-clip: text; 
    background-clip: text; 
    color: transparent;
    background-size: 300%;
    background-position: -100%;  
    animation: animatedText 1s infinite alternate-reverse;
  }
  
  @keyframes animatedText{
    from {
      background-position: 1%; 
    }
    to{
      background-position: 100%; 
    }
  }