{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}

{% block content %}

{% if section_room_list|length == 0 %}
<a href="{% url 'create_section_room' %}">Create Section Room</a>
{% else %}
<table>
    <tr>
        <th>S No.</th>
        <th>Section</th>
        <th>Room No.</th>
        <th>Floor</th>
        <th>Block</th>
        <th>Room Capacity</th>
        <th>Action</th>
    </tr>
    {% for i in section_room_list %}
    <tr {% if current_section_room.id == i.id %} style="background-color: #bdbdbd;" {% endif %}>
        <td>{{ forloop.counter }}</td>
        <td>{{ i.section_name }}</td>
        <td>{{ i.room_no }}</td>
        <td>{{ i.floor }}</td>
        <td>{{ i.block }}</td>
        <td>{{ i.capacity }}</td>
        <td>
            <a href="{% url 'edit_section_room' i.id %}">Edit</a>
            <a href="{% url 'delete_section_room' i.id %}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% endblock %}