<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Settings | AkirA</title>
</head>
<body>
    {% if backup_codes_status == 0 %}
    <a href="{% url 'generate_backup_codes' %}">Generate Backup Codes</a>
    {% else %}
    <a href="{% url 'download_backup_codes' %}">Download Backup Codes</a>
    <br>
    <a href="{% url 'delete_existing_backup_codes' %}">Delte Existing Back Up Codes</a>
    {% endif %}
</body>
</html>