{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#317EFB"/>
    <meta name="description" content="AkirA is a kind of Learning Mangement System which can be accessible in all your devices Android, iOS, and desktop devices.">
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href='{% static "styles/login_styles.css" %}'>

    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet">

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <link rel="apple-touch-icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">
    <link rel="icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">
    <title>Login Account - AkirA</title>
</head>
<body>

	{% include 'messages.html' %}

    <div class="container">
        <div class="header">
            <div class="header-image">
                <div class="header-image-particle header-image-particle-1"></div>
                <div class="header-image-particle header-image-particle-2"></div>
                <div class="header-image-particle header-image-particle-3"></div>
                {% comment %}
                <!-- <svg viewBox="0 0 1000 1100">
                    <g transform="translate(0.000000,1080.000000) scale(0.100000,-0.100000)">
                    <path d="M5345 10620 c-67 -14 -91 -26 -233 -124 -351 -240 -774 -437 -1277
                    -594 -680 -213 -1349 -318 -2170 -342 -159 -4 -306 -13 -325 -19 -97 -29 -185
                    -119 -218 -221 -33 -104 -19 -844 29 -1505 115 -1606 454 -3131 966 -4335 97
                    -228 317 -674 430 -870 426 -739 930 -1323 1528 -1771 293 -220 676 -432 1065
                    -590 153 -62 156 -63 255 -63 97 -1 104 1 225 48 666 263 1180 603 1687 1117
                    285 289 471 519 710 879 801 1204 1341 2896 1572 4920 57 496 95 1081 106
                    1640 7 382 -1 507 -40 585 -36 71 -99 128 -174 156 -51 20 -84 22 -346 30
                    -849 23 -1556 139 -2253 368 -510 168 -929 374 -1295 636 -69 49 -165 71 -242
                    55z m180 -2070 c324 -29 601 -148 845 -363 238 -209 399 -482 467 -792 26
                    -119 26 -124 30 -616 l4 -496 62 -11 c177 -33 340 -176 400 -352 l22 -65 3
                    -1045 c2 -656 -1 -1076 -7 -1127 -25 -207 -161 -367 -371 -439 -53 -18 -111
                    -19 -1575 -19 -1447 0 -1523 1 -1580 18 -86 27 -144 59 -205 114 -68 61 -125
                    149 -151 233 -19 63 -19 92 -17 1186 l3 1121 43 87 c76 154 211 259 370 288
                    l62 12 0 453 c0 499 6 570 61 763 17 60 57 161 94 235 228 461 664 764 1170
                    814 112 11 156 12 270 1z"/>
                    <path d="M5259 7806 c-142 -30 -266 -96 -368 -196 -131 -127 -203 -279 -221
                    -462 -6 -57 -9 -274 -8 -483 l3 -380 735 0 735 0 0 450 c0 506 -1 516 -75 670
                    -90 187 -271 336 -475 390 -84 23 -245 28 -326 11z"/>
                    <path d="M5255 5487 c-301 -112 -393 -478 -178 -708 l45 -48 -102 -241 c-111
                    -265 -115 -287 -60 -315 43 -22 837 -22 879 0 28 14 41 33 41 61 0 8 -46 122
                    -101 254 l-101 240 45 49 c159 170 156 422 -6 599 -111 119 -308 166 -462 109z"/>
                    </g>
                </svg> -->
                <!-- aria-hidden="true" focusable="false" data-prefix="fas" data-icon="shield-blank" class="svg-inline--fa fa-shield-blank" role="img" xmlns="http://www.w3.org/2000/svg" -->
                {% endcomment %}
                <svg viewBox="0 0 512 512">
                    {% comment %}
                    <!-- <defs>  
                        <linearGradient id="logo-gradient" x1="50%" y1="0%" x2="50%" y2="100%">
                            <stop offset="0%" stop-color="#7A5FFF">
                                <animate attributeName="stop-color" values="#7A5FFF; #01FF89; #7A5FFF" dur="4s" repeatCount="indefinite"></animate>
                            </stop>
                            <stop offset="100%" stop-color="#01FF89">
                                <animate attributeName="stop-color" values="#01FF89; #7A5FFF; #01FF89" dur="4s" repeatCount="indefinite"></animate>
                            </stop>
                        </linearGradient>
                    </defs> -->
                    {% endcomment %}
                    <defs>
                        <linearGradient id="logo-gradient" x1="50%" y1="0%" x2="75%" y2="100%" >
                            <stop offset="0%" stop-color="#F79533">
                                <animate attributeName="stop-color" values="#F79533; #F37055; #EF4E7B; #A166AB; #5073B8; #1098AD; #07B39B; #6DBA82; #F79533" dur="4s" repeatCount="indefinite"></animate>
                            </stop>
                            <stop offset="100%" stop-color="#F79533">
                                <animate attributeName="stop-color" values="#F37055; #EF4E7B; #A166AB; #5073B8; #1098AD; #07B39B; #6DBA82; #F79533; #F37055" dur="4s" repeatCount="indefinite"></animate>
                            </stop>
                        </linearGradient>
                    </defs>
                    <path fill="url('#logo-gradient')" d="M496 127.1C496 381.3 309.1 512 255.1 512C204.9 512 16 385.3 16 127.1c0-19.41 11.7-36.89 29.61-44.28l191.1-80.01c4.906-2.031 13.13-3.701 18.44-3.701c5.281 0 13.58 1.67 18.46 3.701l192 80.01C484.3 91.1 496 108.6 496 127.1z"></path>
                </svg>
            </div>
    
            <h1 class="header-title text-center">
                Welcome to&nbsp;<span class="akira">AkirA!</span>
            </h1>
    
            <p class="text text-center">
                Safe <b>&nbsp; &#183; &nbsp;</b> Secure <b>&nbsp; &#183; &nbsp;</b> Ideal
            </p>
        </div>
    
        <form action="" method="POST">
            {% csrf_token %}
            <div class="input app-input">
                <input type="text" name="username" id="id_username" autocapitalize="none" autocomplete="off" onkeyup="isEmpty()" required>
                <label for="username"><i class="far fa-user"></i> Username</label>
            </div>
    
            <div class="input app-input">
                <input type="password" name="password" id="id_password" autocomplete="current-password" onkeyup="isEmpty()" required>
                <label for="password"><i class="fas fa-lock"></i> Password</label>
                <div class="toggle-password fa-solid fa-eye"><i class=""></i></div>
            </div>
            
            <div class="g-recaptcha" data-sitekey="{{ GOOGLE_RECAPTCHA_PUBLIC_KEY }}"></div>
            <button type="submit" class="button app-login-button" id="id_submit">
                <i class="fas fa-sign-in-alt"></i> Login
            </button>
        </form>
    
        <div class="text-center">
            <a href="{% url 'reset_password' %}" class="text link"><i class="fab fa-keycdn"></i> Forgot Password&quest;</a>
            <a href="{% url 'requestSwitchDevice' %}" class="text link"><i class="fa-solid fa-laptop-code"></i> Switch Device</a>
        </div>
    </div>
</body>
</html>

<script src='{% static "js/κρυπτογράφηση δεδομένων.js" %}'></script>
<script src='{% static "js/login.js" %}'></script>