{% extends 'base.html' %}
{% load static %}

{% block content %}

<title>{% block title %}Login Account - AkirA{% endblock %}</title>

<div class="login">
    <div class="login__content">
        <div class="login__img">
            <img src="{% static 'images/undraw_Login_re_4vu2.svg' %}" alt="User login Image">
        </div>
        <div class="login__forms">
            <form action="" method="POST" class="login__registre" id="login-in">
                {% csrf_token %}
                <h1 class="login__title"><i class="fas fa-sign-in-alt"></i> Sign In</h1>

                <div class="login__box">
                    <i class="far fa-user login__icon"></i>
                    <input type="text" name="username" value="hari.vege" id="id_username" autofocus autocapitalize="none" autocomplete="off" placeholder="Username" class="login__input" required>
                </div>

                <div class="login__box">
                    <i class="fas fa-lock login__icon"></i>
                    <!-- pattern="^(?=(.*[a-z]){3,})(?=(.*[A-Z]){2,})(?=(.*[0-9]){2,})(?=(.*[!@#$%^&*()\-__+.]){1,}).{8,}$" -->
                    <input type="password" name="password" value="AKIRAaccount@21" id="id_password" placeholder="Password" autocomplete="current-password" class="login__input" required>
                </div>

                <input type="text" name="user_ip_address" id="id_user_ip_address" hidden/>

                <a href="#" class="login__forgot"> Forgot password &quest;</a>
                <input type="submit" class="login__button" onclick="this.disabled=true,this.form.submit();" value="Sign In">
            </form>
        </div>
    </div>
</div>
{{error_message}}
{{success_message}}

<script src='{% static "js/login.js" %}'></script>
<!-- <script src='{% static "js/aes.js" %}'></script> -->

<!-- <script>
$(document).ready(function() {
    $('#login-in').submit(function(event) {
        var username = $('#id_username').val()
        var plain_password = $('#id_password').val()
        var user_ip_address = $('#id_user_ip_address').val()

        var random_key = "{{ rAnd0m123 }}";
        var ctObj = CryptoJS.AES.encrypt(plain_password, random_key);
        var encrypted_password = ctObj.toString();

        console.log(username, encrypted_password)

        $.ajax({
            type : 'POST',
            url  : '',
            data :{
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'username': username,
                'password': encrypted_password,
                'user_ip_address': user_ip_address,
            },
            dataType : 'json',
            encode   : true
        })
    });
});
</script> -->

{% endblock %}

<!-- <script>
    $(document).ready(function() {
        $('#example-form').submit(function(event) {
            var text = $('#example-text-input').val();
            var search = $('#example-search-input').val();
            var email = $('#example-email-input').val();
            var telephone = $('#example-tel-input').val();
            $.ajax({
                type : 'POST',
                url  : 'ajax',
                data :{
                    'csrfmiddlewaretoken': '{{csrf_token}}',
                    'text': text,
                    'search': search,
                    'email': email,
                    'telephone': telephone,
                },
                dataType : 'json',
                encode   : true
            })
            .done(function(data) {
                $("#example-form").trigger("reset");
                $.get('getajax', function(response){

                })
                .done(function(datas) {
                    $("#myTable > tbody").prepend("<tr id='table-" +datas.id+ "'>\n\
                            <td>"+ datas.text +"</td><td>"+ datas.search +"</td>\n\
                            <td>"+ datas.email +"</td><td>"+ datas.telephone +"</td>\n\
                            <td>" +datas.created_at+ "</td><td><a class='btn btn-sm btn-warning'><span class='fa fa-edit'></span>Edit</a>\n\
                            <a class='btn btn-sm btn-danger delete' data-id='"+ datas.id + "'><span class='fa fa-trash'></span> Delete</a> </td></tr>");
                })
                .fail(function() {
                    $("#fails" ).show();
                })
            });

            event.preventDefault();
        });
        $(document).on('click','.delete',function(event) {
            console.log('deleted');
            var id = $(this).attr("data-id");
            $.get('delete', {id:id}, function(response){
                var tabrow = '#table-'+id;
                $(tabrow).remove();
            });
        });
    });
</script> -->