{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}
{% load user_group %}

{% block content %}

{% block analytics-text %}
<h1>Manage Resource</h1>
<p>Display analytics about your resources <span class="fas fa-chart-line"></span> </p>
{% endblock %}

{% block analytic-overview %}
<section>
  <h3 class="section-head">Overview</h3>
</section>
<div class="analytics">
  <div class="analytic">
      <div class="analytic-icon">
          <span class="fas fa-chalkboard-teacher"></span>
      </div>
      <div class="analytic-info">
          <h4>Most Viewed</h4>
          <h1>-- <small class="text-success">0% <i class="fa-solid fa-arrow-trend-up"></i></small></h1>
      </div>
  </div>
  <div class="analytic">
    <div class="analytic-icon">
        <span class="fas fa-user-graduate"></span>
    </div>
    <div class="analytic-info">
        <h4>Least Viewed</h4>
        <h1>-- <small class="text-success">0% <i class="fa-solid fa-arrow-trend-up"></i></small></h1>
    </div>
  </div>
  <div class="analytic">
      <div class="analytic-icon">
          <span class="fas fa-book"></span>
      </div>
      <div class="analytic-info">
          <h4>New Resource</h4>
          <h1>-- <small class="text-success">0% <i class="fa-solid fa-arrow-trend-up"></i></small></h1>
      </div>
  </div>
  <div class="analytic">
    <div class="analytic-icon">
        <span class="fas fa-swatchbook"></span>
    </div>
    <div class="analytic-info">
        <h4>Total Resources</h4>
        <h1>-- <small class="text-danger">0% <i class="fa-solid fa-arrow-trend-down"></i></small></h1>
    </div>
  </div>
</div>
{% endblock %}

{% block manage-resource %}

{% if not resources %}
<div class="search-box-container">
  <form method="post" action="" class="form-elements">
    {% csrf_token %}
    <input type="text" name="search-resource" id="search-bar" placeholder="Search resource" autocomplete="off" required>
    <button type="submit" class="search-icon"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
</div>

<div class="main-resource">
  <ul class="resource-cards">

    <li class="resurce-cards_item">
      <div class="resource-card">
        <div class="course_image">
          <span class="fa-solid fa-circle-plus"></span>
        </div>
        <div class="course_content">
          <h2 class="course_title">Add the resource</h2>
          <p class="course_text">To support the storing, sharing and reuse of organisational/project knowledge</p>
        </div>
      </div>
    </li>
    {% for resource in all_resources %}
    <li class="resurce-cards_item">
      <div class="resource-card" onclick="document.location='{% url 'view_resource' resource.id %}'">
        <div class="resource_image">
          <img src="{{ resource.thumbnail.url }}">
        </div>
        <div class="resource-card_content">
          <div class="resource-uploaded-user-pic">
            <img src="{% get_static_prefix %}Default User Profile Photo/{{resource.user.first_name|capfirst|first}}.png" alt="" class="resource-uploaded-by-avatar">
          </div>
          <div class="resource-info">
            <div class="resource-title">
              <p>{{ resource.name }}</p>
            </div>
            <div class="resource-uploaded-by-user">
              <p>{{ resource.user.first_name }} {{ resource.user.last_name }}</p>
            </div>
            <div class="resource-when-uploaded">
              <p>{{ resource.created_at }}</p>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>

<br>
<form action="{% url 'create_resource_save' %}" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label for="Name">Name</label>
  <input type="text" name="name" id="id_name">
  <label for="Thumbnail">Thumbnail</label>
  <input type="file" name="thumbnail" id="id_thumbnail">
  <br>
  <label for="Description">Description</label>
  <textarea name="description" id="id_description" cols="30" rows="10"></textarea>
  <br>
  <label for="Video File">Video File</label>
  <input type="file" name="video_file" id="video_file">
  <br>
  <label for="References">References</label>
  <textarea name="reference_info" id="id_reference_info" cols="30" rows="10"></textarea>
  <br>
  <label for="Hash tags">Hash tags</label>
  <textarea name="hash_tags" id="id_hash_tags" cols="30" rows="10"></textarea>
  <input type="submit">
</form>

{% else %}
<h1 style="text-align: center; margin-top: 5rem; color: var(--large-text-color);">Data Not Available</h1>
{% endif %}
{% endblock %}

{% endblock %}