{% extends 'side_panel-navbar_dashboard.html' %}
{% load static %}

{% block content %}

<title>{% block title %}Student Dashboard - AkirA{% endblock %}</title>

<div class="main_section">

  <section class="section_1">
    <div class="image">
      <img onclick="" src="{% get_static_prefix %}Default User Profile Photo/{{request.user.first_name|capfirst|first}}.png" alt="{{request.user.first_name|capfirst}}" class="avatar">
    </div>
    <div class="user_full_name">
      <h1>Welcome, {{request.user.first_name}} {{request.user.last_name}}</h1>
    </div>
  </section>
  
  <div class="section_2">
    <div class="mySlides">

      <div class="card_slides">
        <div class="row1">
          <p>Your AkirA Account is Secured. You can check your <span class="custom_link" onclick=""> Login Activity. </span> </p>
        </div>
        <div class="row2">
          <img class="container_image" src="{% static 'images/securitycheckup_green.webp' %}" alt="">
        </div>
      </div>

      <!-- <div class="card_slides">
        <div class="row1">
          <p>We Found Unusual Login Activity in your AkirA Account. Please check your <span class="custom_link" onclick=""> Login Activity. </span> </p>
        </div>
        <div class="row2">
          <img class="container_image" src="{% static 'images/securitycheckup_yellow.webp' %}" alt="">
        </div>
      </div> -->
      
    </div>

    <div class="mySlides">
      
      <div class="card_slides">

        <div class="row1">
          <p>You Have New Notifications. Check Out <span class="custom_link" onclick=""> Here! </span> </p>
        </div>

        <div class="row2">
          <img class="container_image2" src="{% static 'images/messages.webp' %}" alt="">
        </div>
      </div>
      
    </div>

    <div class="mySlides">
      
      <div class="card_slides">

        <div class="row1">
          <p>New Sessions have been Uploaded. Check Out <span class="custom_link" onclick=""> Here! </span> </p>
        </div>

        <div class="row2">
          <img class="container_image2" src="{% static 'images/sessions.webp' %}" alt="">
        </div>
      </div>
      
    </div>

    <div class="mySlides">
      
      <div class="card_slides">

        <div class="row1">
          <p>No Tasks are listed. Create <span class="custom_link" onclick=""> a Task. </span> </p>
        </div>

        <div class="row1">
          <p>You have 21 Tasks. Check Out <span class="custom_link" onclick=""> Here! </span> </p>
        </div>

        <div class="row2">
          <img class="container_image2" src="{% static 'images/task.webp' %}" alt="">
        </div>
      </div>
      
    </div>

</div>

<script src="{% static 'js/carousel.js' %}"></script>

{% endblock %}