{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#317EFB"/>
    <meta name="description" content="AkirA is a kind of Learning Management System which can be accessible in all your devices Android, iOS, and desktop devices.">
    
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href='{% static "styles/backup_codes_styles.css" %}'>

    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet">

    <link rel="apple-touch-icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">
    <link rel="icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">
    <title>2FA - AkirA</title>
</head>
<body>
    {% include 'messages.html' %}
    <div class="two-step-verification-main-container">
        <div class="form-first-sub-container">
            <div class="brand-name-akira">
                <h1 class="akira">AkirA</h1>
            </div>
            <div class="two-step-verification-title">
                <h1>2-Step Verification</h1>
            </div>
            <div class="about-two-step-verification">
                <p>This extra step shows that it’s really you trying to sign in</p>
            </div>
            <div class="current-user-username">
                <h4><span class="fa-solid fa-user"></span> &nbsp;{{custom_decrypted_username}}</h4>
            </div>
        </div>
        <div class="form-second-sub-container">
            <div class="two-step-verification-title-two">
                <h4>2-Step Verification</h4>
            </div>
            <div class="two-step-verification-code-source">
                <p>Use a code from your <strong>Backup Codes</strong></p>
            </div>
            <form action="" method="POST">
                {% csrf_token %}
                <div class="two-step-enter-code">
                    <input type="text" name="backup_code" id="id_backup_code" autocapitalize="off" autocomplete="off" placeholder="Enter Code" maxlength="6" required>
                </div>
                <div class="two-step-other-choice-next-buttons">
                    <a href="{% url 'twofa_verify_its_you' encrypted_username %}">Try another way</a>
                    <button type="submit">Next</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>