{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <meta name="theme-color" content="#FFF"/>
    <meta name="description" content="AkirA is a kind of Learning Management System which can be accessible in all your devices Android, iOS, and desktop devices.">

    <link rel="stylesheet" href="{% static 'styles/dashboard.css' %}">
    
    <link href="{% static 'fontawesome/css/all.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/fontawesome.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/brands.css' %}" rel="stylesheet">
    <link href="{% static 'fontawesome/css/solid.css' %}" rel="stylesheet">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="apple-touch-icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">
    <link rel="icon" href="{% static 'images/AkirA-Logo V2.0.png' %}" type="image/icon type">

    <script src="{% static "js/jquery.min.js" %}"></script>
    <title>Applicant Registration - AkirA</title>
</head>
<body>
    {% include 'messages.html' %}

    {% include 'check_internet_connection.html' %}

    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="name_prefix">Name prefix</label>
        <select name="name_prefix" id="id_name_prefix">
            {% for x,y in name_prefix.fields.nameprefix.choices %}
            <option value="{{ x }}">{{ y }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="firstname">First name</label>
        <input type="text" name="firstname" id="id_firstname" placeholder="First name" required>
        <br>
        <label for="lastname">Last name</label>
        <input type="text" name="lastname" id="id_lastname" placeholder="Last name" required>
        <br>
        <label for="username">Username</label>
        <input type="text" name="username" id="id_username" placeholder="Username" required>
        <br>
        <label for="password">Password</label>
        <input type="password" name="password" id="id_password" placeholder="Password" required>
        <br>
        <label for="confirm_password">Confirm password</label>
        <input type="password" name="confirm_password" id="id_confirm_password" placeholder="Confirm password" required>
        <br>
        <label for="email">Email</label>
        <input type="email" name="email" id="id_email" placeholder="Email" required>
        <br>
        <label for="phone">Phone number</label>
        <input type="phone" name="phone" id="id_phone" placeholder="Phone number" required>
        <br>

        <label for="date_of_birth">Date of birth</label>
        <input type="date" name="date_of_birth" id="id_date_of_birth" placeholder="Date of birth" required>
        <br>
        <label for="gender">Gender</label>
        <select name="gender" id="id_gender">
            {% for x,y in gender.fields.gender.choices %}
            <option value="{{ x }}">{{ y }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="door_no">Door No.</label>
        <input type="text" name="door_no" id="id_door_no" placeholder="Door No." required>
        <br>
        <label for="zip_code">Zip code</label>
        <input type="text" name="zip_code" id="id_zip_code" placeholder="Zip code" required>
        <br>
        <label for="city">City name</label>
        <input type="text" name="city" id="id_city" placeholder="City name" required>
        <br>
        <label for="district">District name</label>
        <input type="text" name="district" id="id_district" placeholder="District name" required>
        <br>
        <label for="state">State name</label>
        <input type="text" name="state" id="id_state" placeholder="State name" required>
        <br>
        <label for="country">Country</label>
        <input type="text" name="country" id="id_country" placeholder="Country" required>
        <br>
        <label for="photo">Photo</label>
        <input type="file" name="photo" id="id_photo" required>
        <br>
        <label for="resume">Resume</label>
        <input type="file" name="resume" id="id_resume" required>
        <br>
        <p>By registering, You agree to our terms, condition and policies.</p>
        <br>
        <input type="submit" value="Register">
    </form>

    <script src="{% static 'js/dashboard.js' %}"></script>
</body>
</html>